fixtures/n8n/snapshots/20260216-112351/6bg9sjaFBOqotJWv__A02_-_Pricing_Ready_Notification.json
{
  "id": "6bg9sjaFBOqotJWv",
  "name": "A02 - Pricing Ready Notification",
  "active": false,
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "quote.sent",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "typeVersion": 1,
      "id": "7de897a8-ecd1-4555-a137-968959783160"
    },
    {
      "name": "Get Quote",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        450,
        300
      ],
      "parameters": {
        "url": "https://mintprints-api.ronny.works/api/quotes/={{$json.quote_id}}",
        "method": "GET",
        "authentication": "none",
        "responseFormat": "json"
      },
      "typeVersion": 3,
      "id": "9f6c5810-2575-4da0-889e-8e12cad20e6a"
    },
    {
      "name": "Get Customer",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        650,
        300
      ],
      "parameters": {
        "url": "https://mintprints-api.ronny.works/api/customers/={{$node['Get Quote'].json.customer_id}}",
        "method": "GET",
        "authentication": "none",
        "responseFormat": "json"
      },
      "typeVersion": 3,
      "id": "5ec76018-8d0e-4651-9aa3-799ec35dcb92"
    },
    {
      "name": "Check Email Opt-in",
      "type": "n8n-nodes-base.if",
      "position": [
        850,
        300
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node['Get Customer'].json.email_opt_in}}",
              "value2": true
            }
          ]
        }
      },
      "typeVersion": 1,
      "id": "fc2642cb-f991-4c5d-9cd1-22e4a3b193df"
    },
    {
      "name": "Send Customer Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1050,
        200
      ],
      "parameters": {
        "fromEmail": "quotes@mintprints.com",
        "toEmail": "={{$node['Get Customer'].json.email}}",
        "subject": "Your Quote #{{$node['Get Quote'].json.visual_id}} is Ready - Mint Prints",
        "html": "<h2>Your Quote is Ready!</h2><p>Hi {{$node['Get Customer'].json.first_name}},</p><p>We've completed pricing for your quote request. Here are the details:</p><table style='border-collapse: collapse; width: 100%;'><tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Quote #</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{$node['Get Quote'].json.visual_id}}</td></tr><tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Total</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>${{$node['Get Quote'].json.total}}</td></tr><tr><td style='padding: 8px; border: 1px solid #ddd;'><strong>Valid Until</strong></td><td style='padding: 8px; border: 1px solid #ddd;'>{{$node['Get Quote'].json.valid_until}}</td></tr></table><p><a href='https://mintprints-api.ronny.works/api/quotes/approve/{{$node['Get Quote'].json.approval_token}}' style='display: inline-block; padding: 12px 24px; background: #10b981; color: white; text-decoration: none; border-radius: 6px; margin-top: 16px;'>View & Approve Quote</a></p><p>Questions? Reply to this email or call (954) 850-6468.</p><p>Thanks,<br>Mint Prints Team</p>"
      },
      "typeVersion": 2,
      "id": "c09806c8-ccf4-4746-8892-b39cfa416fe8"
    },
    {
      "name": "Send Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        1050,
        400
      ],
      "parameters": {
        "channel": "#quotes",
        "text": ":moneybag: *Pricing Ready*\n\n*Quote:* #{{$node['Get Quote'].json.visual_id}}\n*Customer:* {{$node['Get Customer'].json.first_name}} {{$node['Get Customer'].json.last_name}}\n*Total:* ${{$node['Get Quote'].json.total}}\n*Email Sent:* {{$node['Check Email Opt-in'].json ? 'Yes' : 'No'}}\n\n<https://print-shop-os--hypnotizedent.github.app/quotes/{{$node['Get Quote'].json.id}}|View Quote>",
        "otherOptions": {}
      },
      "typeVersion": 2,
      "id": "964f161f-26e2-4a18-b0f7-2ed682bdaa99"
    },
    {
      "name": "Log Activity",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1250,
        300
      ],
      "parameters": {
        "url": "https://mintprints-api.ronny.works/api/activity",
        "method": "POST",
        "authentication": "none",
        "contentType": "json",
        "bodyParametersJson": "={\"entity_type\": \"quote\", \"entity_id\": \"{{$node['Get Quote'].json.id}}\", \"activity_type\": \"pricing_ready\", \"description\": \"Pricing ready notification sent to customer\"}"
      },
      "typeVersion": 3,
      "id": "07cd80b7-06e7-415e-8c3b-e09d759e06b8"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Quote",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Quote": {
      "main": [
        [
          {
            "node": "Get Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer": {
      "main": [
        [
          {
            "node": "Check Email Opt-in",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Email Opt-in": {
      "main": [
        [
          {
            "node": "Send Customer Email",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Slack",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Customer Email": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
