fixtures/n8n/snapshots/20260216-112351/8ldgXKtdfcPJcAxB__Receipt_to_Firefly_Transaction.json
{
  "id": "8ldgXKtdfcPJcAxB",
  "name": "Receipt to Firefly Transaction",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 5
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Every 5 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        240
      ],
      "notes": "Polls Paperless every 5 minutes for new receipts"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "https://docs.ronny.works/api/documents/?tags__id__all=1&tags__id__none=11,12",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "fetch-receipts",
      "name": "Fetch Unprocessed Receipts",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        220,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "uhiXq0Do00aYR9ms",
          "name": "Paperless API Token"
        }
      },
      "notes": "Get documents with 'receipt' tag (1) but NOT 'linked' (11) or 'needs-review' (12)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "has-results",
              "leftValue": "={{ Number($json.count) }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-receipts",
      "name": "Has Unprocessed Receipts?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        440,
        240
      ],
      "notes": "Only continue if there are receipts to process"
    },
    {
      "parameters": {
        "fieldToSplitOut": "results",
        "options": {}
      },
      "id": "split-receipts",
      "name": "Split Into Items",
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        660,
        140
      ],
      "notes": "Process each receipt individually"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://docs.ronny.works/api/documents/{{ $json.id }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {
          "response": {
            "response": {
              "fullResponse": false,
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "get-document",
      "name": "Get Document Details",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        880,
        140
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "uhiXq0Do00aYR9ms",
          "name": "Paperless API Token"
        }
      },
      "notes": "Fetch full document details including OCR content"
    },
    {
      "parameters": {
        "jsCode": "// Call Anthropic API using $http.request (n8n built-in)\nconst doc = $input.item.json;\n\nconst prompt = `You are a receipt data extraction assistant. Extract the following information from this receipt/document:\n\n1. **vendor** - The store/merchant name\n2. **amount** - The total amount paid (number only, no currency symbol)\n3. **date** - The transaction date in YYYY-MM-DD format\n4. **category** - Best category from: Groceries, Dining, Office Supplies, Travel, Utilities, Subscriptions, Equipment, Supplies, Other\n5. **description** - Brief description of the purchase (max 100 chars)\n\nDocument title: ${doc.title}\nDocument created: ${doc.created}\n\nOCR Content:\n${doc.content}\n\nRespond ONLY with valid JSON in this exact format:\n{\n  \"vendor\": \"Store Name\",\n  \"amount\": 123.45,\n  \"date\": \"2025-12-31\",\n  \"category\": \"Category\",\n  \"description\": \"Brief description\",\n  \"confidence\": \"high|medium|low\"\n}\n\nIf you cannot extract a field, use null. Set confidence based on OCR quality and extraction certainty.`;\n\nconst apiKey = $env.ANTHROPIC_API_KEY;\nif (!apiKey) {\n  throw new Error('ANTHROPIC_API_KEY environment variable not set in n8n');\n}\n\nconst result = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.anthropic.com/v1/messages',\n  headers: {\n    'Content-Type': 'application/json',\n    'x-api-key': apiKey,\n    'anthropic-version': '2023-06-01'\n  },\n  body: {\n    model: 'claude-sonnet-4-20250514',\n    max_tokens: 500,\n    messages: [{ role: 'user', content: prompt }]\n  },\n  json: true\n});\n\nreturn { json: result };"
      },
      "id": "claude-extract",
      "name": "Claude Extract Receipt Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        140
      ],
      "notes": "Calls Anthropic API using fetch with API key from n8n environment variable"
    },
    {
      "parameters": {
        "jsCode": "// Parse Claude's JSON response from Anthropic Messages API\nconst apiResponse = $input.item.json;\nconst claudeResponse = apiResponse.content?.[0]?.text || '';\n\n// Extract JSON from response (handle markdown code blocks)\nlet jsonStr = claudeResponse;\nconst jsonMatch = claudeResponse.match(/```(?:json)?\\s*([\\s\\S]*?)```/);\nif (jsonMatch) {\n  jsonStr = jsonMatch[1].trim();\n} else {\n  // Try to find raw JSON\n  const rawMatch = claudeResponse.match(/\\{[\\s\\S]*\\}/);\n  if (rawMatch) {\n    jsonStr = rawMatch[0];\n  }\n}\n\nlet extracted;\ntry {\n  extracted = JSON.parse(jsonStr);\n} catch (e) {\n  // Fallback: return with error flag\n  return {\n    json: {\n      error: 'Failed to parse Claude response',\n      raw_response: claudeResponse,\n      document_id: $('Get Document Details').item.json.id,\n      document_title: $('Get Document Details').item.json.title,\n      needs_manual_review: true\n    }\n  };\n}\n\n// Merge with document info\nconst doc = $('Get Document Details').item.json;\n\n// Determine if manual review is needed:\n// - Low confidence extraction\n// - Missing vendor name\n// - Zero/negative amount (returns, refunds, exchanges) - Issue #377\n// - Missing amount entirely\nconst amount = extracted.amount;\nconst isInvalidAmount = amount === null || amount === undefined || amount <= 0;\nconst needsReview = extracted.confidence === 'low' || !extracted.vendor || isInvalidAmount;\n\nreturn {\n  json: {\n    document_id: doc.id,\n    document_title: doc.title,\n    paperless_created: doc.created,\n    vendor: extracted.vendor,\n    amount: amount,\n    date: extracted.date,\n    category: extracted.category,\n    description: extracted.description,\n    confidence: extracted.confidence || 'medium',\n    needs_manual_review: needsReview,\n    tags: doc.tags || []\n  }\n};"
      },
      "id": "parse-extraction",
      "name": "Parse Claude Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        140
      ],
      "notes": "Parses Claude's JSON response and merges with document data"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.needs_manual_review }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "valid"
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "check-valid-data",
      "name": "Valid Extraction?",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        1540,
        140
      ],
      "notes": "SWITCH node workaround for IF node bug (#377). Routes: valid (needs_manual_review=false) → Create Transaction, fallback → Tag for Review"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://firefly.ronny.works/api/v1/transactions",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"error_if_duplicate_hash\": true,\n  \"apply_rules\": true,\n  \"transactions\": [{\n    \"type\": \"withdrawal\",\n    \"date\": \"{{ $json.date || $today.format('YYYY-MM-DD') }}\",\n    \"amount\": \"{{ $json.amount }}\",\n    \"description\": \"{{ $json.vendor }}{{ $json.description ? ' - ' + $json.description : '' }}\",\n    \"source_name\": \"Chase Checking 7057\",\n    \"destination_name\": \"{{ $json.vendor }}\",\n    \"category_name\": \"{{ $json.category || 'Other' }}\",\n    \"notes\": \"Auto-imported from Paperless document #{{ $json.document_id }}. Confidence: {{ $json.confidence }}\",\n    \"external_id\": \"paperless-{{ $json.document_id }}\"\n  }]\n}",
        "options": {}
      },
      "id": "create-transaction",
      "name": "Create Firefly Transaction",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        40
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "EHhFDrkksG7wFxyr",
          "name": "Firefly API Token"
        }
      },
      "notes": "Creates withdrawal transaction in Firefly III"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://docs.ronny.works/api/documents/{{ $('Parse Claude Response').item.json.document_id }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": {{ JSON.stringify([...$('Parse Claude Response').item.json.tags.filter(t => t !== 1), 11]) }}\n}",
        "options": {}
      },
      "id": "update-paperless-success",
      "name": "Tag as Linked",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1980,
        40
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "uhiXq0Do00aYR9ms",
          "name": "Paperless API Token"
        }
      },
      "notes": "Replace 'receipt' tag (1) with 'linked' tag (11) to mark as processed"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://docs.ronny.works/api/documents/{{ $json.document_id }}/",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tags\": {{ JSON.stringify([...$json.tags, 12]) }}\n}",
        "options": {}
      },
      "id": "update-paperless-review",
      "name": "Tag for Review",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        240
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "uhiXq0Do00aYR9ms",
          "name": "Paperless API Token"
        }
      },
      "notes": "Add 'needs-review' tag (12) for manual processing"
    },
    {
      "parameters": {
        "content": "## Receipt to Firefly Transaction (v3 - HTTP Direct)\n\n**Purpose:** Automatically create Firefly III transactions from receipts scanned into Paperless.\n\n**Trigger:** Polls every 5 minutes for unprocessed receipts\n\n**Flow:**\n1. Query Paperless for documents with 'receipt' tag but NOT 'linked' or 'needs-review'\n2. For each document, fetch full OCR content\n3. Claude extracts: vendor, amount, date, category (via HTTP Request to Anthropic API)\n4. Create Firefly withdrawal transaction\n5. Update Paperless tags (receipt → linked)\n\n**Credentials Required:**\n- `Paperless API Token` - Header Auth with Token\n- `Firefly API Token` - Header Auth with Bearer token\n- `Anthropic API Key` - Header Auth with x-api-key\n\n**Tag IDs:**\n- receipt: 1\n- linked: 11\n- needs-review: 12\n\n**Related:** Issue #108\n\n**v3 Changes:**\n- Replaced LangChain Anthropic node with standard HTTP Request node\n- More reliable, no community node dependencies"
      },
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -220,
        0
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result",
              "name": "status",
              "value": "success",
              "type": "string"
            },
            {
              "id": "msg",
              "name": "message",
              "value": "=Transaction created for {{ $('Parse Claude Response').item.json.vendor }} - ${{ $('Parse Claude Response').item.json.amount }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "success-response",
      "name": "Success",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2200,
        40
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "result",
              "name": "status",
              "value": "flagged",
              "type": "string"
            },
            {
              "id": "msg",
              "name": "message",
              "value": "=Document #{{ $json.document_id }} flagged for manual review - missing vendor, zero amount, or return/exchange",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "review-response",
      "name": "Flagged",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1980,
        240
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "none",
              "name": "status",
              "value": "no_receipts",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "no-receipts",
      "name": "No Receipts",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        660,
        340
      ],
      "notes": "Nothing to process"
    }
  ],
  "connections": {
    "Every 5 Minutes": {
      "main": [
        [
          {
            "node": "Fetch Unprocessed Receipts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Unprocessed Receipts": {
      "main": [
        [
          {
            "node": "Has Unprocessed Receipts?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Unprocessed Receipts?": {
      "main": [
        [
          {
            "node": "Split Into Items",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Receipts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Into Items": {
      "main": [
        [
          {
            "node": "Get Document Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Document Details": {
      "main": [
        [
          {
            "node": "Claude Extract Receipt Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude Extract Receipt Data": {
      "main": [
        [
          {
            "node": "Parse Claude Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Claude Response": {
      "main": [
        [
          {
            "node": "Valid Extraction?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Valid Extraction?": {
      "main": [
        [
          {
            "node": "Create Firefly Transaction",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Tag for Review",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Firefly Transaction": {
      "main": [
        [
          {
            "node": "Tag as Linked",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag as Linked": {
      "main": [
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Tag for Review": {
      "main": [
        [
          {
            "node": "Flagged",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
