fixtures/n8n/snapshots/20260216-112351/beI7LZPHVqXT9WOb__Printavo_Daily_Order_Sync.json
{
  "id": "beI7LZPHVqXT9WOb",
  "name": "Printavo Daily Order Sync",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 2 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 2am Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Initialize pagination cursor\nreturn [{ json: { cursor: null, hasMore: true, allOrders: [] } }];"
      },
      "id": "init-pagination",
      "name": "Init Pagination",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        380
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-more",
              "leftValue": "={{ $json.hasMore }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-more-pages",
      "name": "Has More Pages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        380
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.printavo.com/api/v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "ronny@mintprints.com"
            },
            {
              "name": "token",
              "value": "={{ $env.PRINTAVO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query GetInvoices($after: String) { invoices(first: 50, after: $after) { pageInfo { hasNextPage endCursor } edges { node { id visualId nickname status { name } contact { id firstName lastName email phone customer { id companyName } } total salesTaxAmount discount productionNote customerNote dueAt timestamps { createdAt updatedAt } } } } }\",\n  \"variables\": { \"after\": {{ $json.cursor ? '\"' + $json.cursor + '\"' : 'null' }} }\n}",
        "options": {}
      },
      "id": "fetch-orders",
      "name": "Fetch Invoices from Printavo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process invoices and prepare for next page\n// Printavo uses 'invoices' not 'orders', and 'contact' for customer info\nconst response = $input.first().json;\nconst pageInfo = response.data?.invoices?.pageInfo || {};\nconst edges = response.data?.invoices?.edges || [];\n\n// Get previous accumulated orders\nconst prevData = $('Has More Pages?').first().json;\nconst allOrders = prevData.allOrders || [];\n\n// Add new orders to accumulated list\nconst newOrders = edges.map(edge => {\n  const node = edge.node;\n  const contact = node.contact || {};\n  const customer = contact.customer || {};\n  const timestamps = node.timestamps || {};\n  \n  return {\n    // Order fields\n    printavo_id: node.id,\n    visual_id: node.visualId,\n    nickname: node.nickname || '',\n    status: node.status?.name || 'Unknown',\n    total_amount: parseFloat(node.total) || 0,\n    tax_amount: parseFloat(node.salesTaxAmount) || 0,\n    discount_amount: parseFloat(node.discount) || 0,\n    production_notes: node.productionNote || '',\n    customer_note: node.customerNote || '',\n    due_date: node.dueAt,\n    created_at: timestamps.createdAt,\n    updated_at: timestamps.updatedAt,\n    // Customer data - from contact and contact.customer\n    customer_printavo_id: customer.id || contact.id,\n    customer_first_name: contact.firstName || '',\n    customer_last_name: contact.lastName || '',\n    customer_email: contact.email || '',\n    customer_phone: contact.phone || '',\n    customer_company: customer.companyName || ''\n  };\n});\n\nallOrders.push(...newOrders);\n\nreturn [{\n  json: {\n    cursor: pageInfo.endCursor || null,\n    hasMore: pageInfo.hasNextPage || false,\n    allOrders: allOrders,\n    pageCount: (prevData.pageCount || 0) + 1\n  }\n}];"
      },
      "id": "process-orders",
      "name": "Process Invoices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        280
      ]
    },
    {
      "parameters": {
        "amount": 0.5,
        "unit": "seconds"
      },
      "id": "rate-limit-delay",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1340,
        280
      ]
    },
    {
      "parameters": {
        "jsCode": "// Output all accumulated orders for database upsert\nconst data = $input.first().json;\nconst orders = data.allOrders || [];\n\nconsole.log(`Total invoices fetched: ${orders.length}`);\n\n// Return each order as a separate item\nreturn orders.map(order => ({ json: order }));"
      },
      "id": "output-all-orders",
      "name": "Output All Orders",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        480
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Upsert customer first (if not exists)\n-- Contact ID is used as customer printavo_id since invoices link to contacts\nINSERT INTO customers (printavo_id, name, first_name, last_name, email, phone, company, created_at, updated_at, published_at)\nVALUES (\n  '{{ $json.customer_printavo_id }}',\n  '{{ (($json.customer_first_name || '') + ' ' + ($json.customer_last_name || '')).trim().replace(/'/g, \"''\") || $json.customer_company.replace(/'/g, \"''\") || 'Unknown' }}',\n  '{{ ($json.customer_first_name || '').replace(/'/g, \"''\") }}',\n  '{{ ($json.customer_last_name || '').replace(/'/g, \"''\") }}',\n  '{{ $json.customer_email || '' }}',\n  '{{ $json.customer_phone || '' }}',\n  '{{ ($json.customer_company || '').replace(/'/g, \"''\") }}',\n  NOW(),\n  NOW(),\n  NOW()\n)\nON CONFLICT (printavo_id) DO UPDATE SET\n  name = CASE WHEN customers.name LIKE 'Placeholder%' THEN EXCLUDED.name ELSE customers.name END,\n  first_name = COALESCE(NULLIF(EXCLUDED.first_name, ''), customers.first_name),\n  last_name = COALESCE(NULLIF(EXCLUDED.last_name, ''), customers.last_name),\n  email = COALESCE(NULLIF(EXCLUDED.email, ''), customers.email),\n  phone = COALESCE(NULLIF(EXCLUDED.phone, ''), customers.phone),\n  company = COALESCE(NULLIF(EXCLUDED.company, ''), customers.company),\n  updated_at = NOW();\n",
        "options": {}
      },
      "id": "upsert-customer",
      "name": "Upsert Customer",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1120,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "H91B62moXyyKhSgJ",
          "name": "Mint OS Vault"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Upsert order (invoice)\nINSERT INTO orders (\n  printavo_id, visual_id, nickname, status, \n  total_amount, tax_amount, discount,\n  production_notes, customer_notes, due_date,\n  printavo_customer_id,\n  created_at, updated_at, published_at\n)\nVALUES (\n  '{{ $json.printavo_id }}',\n  '{{ $json.visual_id }}',\n  '{{ ($json.nickname || '').replace(/'/g, \"''\") }}',\n  '{{ $json.status }}',\n  {{ $json.total_amount || 0 }},\n  {{ $json.tax_amount || 0 }},\n  {{ $json.discount_amount || 0 }},\n  '{{ ($json.production_notes || '').replace(/'/g, \"''\") }}',\n  '{{ ($json.customer_note || '').replace(/'/g, \"''\") }}',\n  {{ $json.due_date ? \"'\" + $json.due_date + \"'\" : 'NULL' }},\n  '{{ $json.customer_printavo_id }}',\n  {{ $json.created_at ? \"'\" + $json.created_at + \"'\" : 'NOW()' }},\n  {{ $json.updated_at ? \"'\" + $json.updated_at + \"'\" : 'NOW()' }},\n  NOW()\n)\nON CONFLICT (printavo_id) DO UPDATE SET\n  visual_id = EXCLUDED.visual_id,\n  nickname = EXCLUDED.nickname,\n  status = EXCLUDED.status,\n  total_amount = EXCLUDED.total_amount,\n  tax_amount = EXCLUDED.tax_amount,\n  discount = EXCLUDED.discount,\n  production_notes = EXCLUDED.production_notes,\n  customer_notes = EXCLUDED.customer_notes,\n  due_date = EXCLUDED.due_date,\n  updated_at = EXCLUDED.updated_at\nRETURNING id, printavo_id;\n",
        "options": {}
      },
      "id": "upsert-order",
      "name": "Upsert Order",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1340,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "H91B62moXyyKhSgJ",
          "name": "Mint OS Vault"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Link order to customer via orders_customer_lnk\nINSERT INTO orders_customer_lnk (order_id, customer_id, order_ord)\nSELECT \n  o.id,\n  c.id,\n  1\nFROM orders o\nCROSS JOIN customers c\nWHERE o.printavo_id = '{{ $json.printavo_id }}'\n  AND c.printavo_id = '{{ $json.customer_printavo_id }}'\n  AND NOT EXISTS (\n    SELECT 1 FROM orders_customer_lnk ocl WHERE ocl.order_id = o.id\n  );\n",
        "options": {}
      },
      "id": "link-order-customer",
      "name": "Link Order to Customer",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1560,
        480
      ],
      "credentials": {
        "postgres": {
          "id": "H91B62moXyyKhSgJ",
          "name": "Mint OS Vault"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1780,
        480
      ]
    },
    {
      "parameters": {
        "jsCode": "// Summary of sync results\nconst items = $input.all();\nconst totalProcessed = items.length;\n\nreturn [{\n  json: {\n    workflow: 'Printavo Daily Order Sync',\n    timestamp: new Date().toISOString(),\n    ordersProcessed: totalProcessed,\n    status: 'completed'\n  }\n}];"
      },
      "id": "summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        480
      ]
    }
  ],
  "connections": {
    "Daily 2am Trigger": {
      "main": [
        [
          {
            "node": "Init Pagination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Init Pagination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Pagination": {
      "main": [
        [
          {
            "node": "Has More Pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has More Pages?": {
      "main": [
        [
          {
            "node": "Fetch Invoices from Printavo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output All Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Invoices from Printavo": {
      "main": [
        [
          {
            "node": "Process Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Invoices": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay": {
      "main": [
        [
          {
            "node": "Has More Pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output All Orders": {
      "main": [
        [
          {
            "node": "Upsert Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Customer": {
      "main": [
        [
          {
            "node": "Upsert Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Order": {
      "main": [
        [
          {
            "node": "Link Order to Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Link Order to Customer": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
