fixtures/n8n/snapshots/20260216-112351/BZiUwJP9aYWKAg0m__Gradual_Movie_Search.json
{
  "id": "BZiUwJP9aYWKAg0m",
  "name": "Gradual Movie Search",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 2
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Daily 2am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        250,
        300
      ]
    },
    {
      "parameters": {
        "url": "http://100.117.1.53:7878/api/v3/wanted/missing",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "f381f099a1b049cea6f526bce152ae98"
            }
          ]
        }
      },
      "id": "get-missing",
      "name": "Get Missing Movies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Get missing movies and select random 5\nconst data = $input.first().json;\nconst movies = data.records || [];\nconst count = 5;\n\nif (movies.length === 0) {\n  return [{ json: { noMovies: true, message: 'No missing movies found', totalMissing: 0 } }];\n}\n\n// Shuffle and take first N\nconst shuffled = [...movies].sort(() => Math.random() - 0.5);\nconst selected = shuffled.slice(0, Math.min(count, movies.length));\n\nreturn [{\n  json: {\n    noMovies: false,\n    totalMissing: movies.length,\n    selectedCount: selected.length,\n    movies: selected.map(m => ({\n      id: m.id,\n      title: m.title,\n      year: m.year\n    }))\n  }\n}];"
      },
      "id": "select-random",
      "name": "Select Random 5",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        650,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-no-movies",
              "leftValue": "={{ $json.noMovies }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "id": "check-movies",
      "name": "Has Movies?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        850,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Return individual movie items for iteration\nconst data = $input.first().json;\nconst movies = data.movies || [];\nreturn movies.map(m => ({ json: { ...m, totalMissing: data.totalMissing, selectedCount: data.selectedCount } }));"
      },
      "id": "split-movies",
      "name": "Split to Items",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "url": "http://100.117.1.53:7878/api/v3/command",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"name\": \"MoviesSearch\", \"movieIds\": [{{ $json.id }}]}",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Api-Key",
              "value": "f381f099a1b049cea6f526bce152ae98"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "id": "search-movie",
      "name": "Trigger Search",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        1250,
        200
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "wait-between",
      "name": "Wait 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1450,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Collect all items and summarize\nconst items = $input.all();\nconst firstItem = items[0]?.json || {};\n\n// Get movie info from Split to Items node\nconst splitItems = $('Split to Items').all();\nconst movies = splitItems.map(item => `${item.json.title} (${item.json.year})`);\n\nreturn [{\n  json: {\n    totalMissing: firstItem.totalMissing || splitItems[0]?.json?.totalMissing || 0,\n    searchedCount: movies.length,\n    movies: movies,\n    timestamp: new Date().toISOString()\n  }\n}];"
      },
      "id": "summarize",
      "name": "Summarize Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1650,
        200
      ]
    },
    {
      "parameters": {
        "authentication": "webhook",
        "content": "=**Gradual Movie Search - Daily Run**\n\nMissing movies: {{ $json.totalMissing }}\nSearched: {{ $json.searchedCount }}\n\n**Movies queued:**\n{{ $json.movies.join('\\n') }}\n\nTimestamp: {{ $json.timestamp }}",
        "options": {}
      },
      "id": "discord-notify",
      "name": "Discord Notification",
      "type": "n8n-nodes-base.discord",
      "typeVersion": 2,
      "position": [
        1850,
        200
      ],
      "disabled": true,
      "credentials": {}
    },
    {
      "parameters": {},
      "id": "no-movies-end",
      "name": "No Movies - End",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1050,
        400
      ]
    }
  ],
  "connections": {
    "Daily 2am": {
      "main": [
        [
          {
            "node": "Get Missing Movies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Missing Movies": {
      "main": [
        [
          {
            "node": "Select Random 5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select Random 5": {
      "main": [
        [
          {
            "node": "Has Movies?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Movies?": {
      "main": [
        [
          {
            "node": "No Movies - End",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Split to Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split to Items": {
      "main": [
        [
          {
            "node": "Trigger Search",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Search": {
      "main": [
        [
          {
            "node": "Wait 2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s": {
      "main": [
        [
          {
            "node": "Summarize Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Summarize Results": {
      "main": [
        [
          {
            "node": "Discord Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
