fixtures/n8n/snapshots/20260216-112351/CdDYpm9Uxbm5LfsJ__Jellyfin_Collection_Sync.json
{
  "id": "CdDYpm9Uxbm5LfsJ",
  "name": "Jellyfin Collection Sync",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "jellyfin-collection-sync",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "name": "Radarr Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        260,
        300
      ],
      "webhookId": "jellyfin-collection-sync",
      "id": "f3e1ede6-908f-4783-8b5c-10a872c4bb31"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.eventType }}",
              "rightValue": "Download",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      },
      "name": "Filter Downloads Only",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "id": "8be8f205-8c1f-4f82-b5b3-1e7f42f879ff"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://100.117.1.53:8096/ScheduledTasks/Running/ead08f4b6ec98ecdaa71461c7b55a667",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Emby-Token",
              "value": "499bb488230147bc9e24d694bcd3cce8"
            }
          ]
        },
        "options": {}
      },
      "name": "Trigger TMDb Scan",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        700,
        300
      ],
      "id": "2f9065ef-68c4-4cb5-b8f6-2f114bb9cf0e"
    },
    {
      "parameters": {
        "amount": 15,
        "unit": "seconds"
      },
      "name": "Wait 15s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        920,
        300
      ],
      "id": "a95fbb8c-3e6b-4bff-8efa-e984f490cb48"
    },
    {
      "parameters": {
        "url": "http://100.117.1.53:8096/Items?IncludeItemTypes=Movie&Recursive=true",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Emby-Token",
              "value": "499bb488230147bc9e24d694bcd3cce8"
            }
          ]
        },
        "options": {}
      },
      "name": "Get All Movies",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1140,
        300
      ],
      "id": "e51de01e-43cb-45c4-a2b2-670c9e9d8461"
    },
    {
      "parameters": {
        "mode": "runOnceForAllItems",
        "jsCode": "const mcuPattern = /Iron Man|Incredible Hulk|Thor(?!.*Collection)|Captain America|Avengers|Guardians|Ant-Man|Doctor Strange|Spider-Man|Black Panther|Black Widow|Shang-Chi|Eternals|Marvels|Wakanda|Quantumania|Brave New World|Thunderbolts|Fantastic|Deadpool|Wolverine|Captain Marvel|One-Shot|Team Thor|Team Darryl|Peter.*To-Do|Werewolf by Night|Holiday Special/i;\nconst dcPattern = /Man of Steel|Batman v Superman|Wonder Woman|Justice League|Aquaman|Shazam|Birds of Prey|Suicide Squad|Black Adam|Blue Beetle|Flash/i;\nconst movies = $input.first().json.Items || [];\nconst mcuIds = movies.filter(m => mcuPattern.test(m.Name)).map(m => m.Id);\nconst dcIds = movies.filter(m => dcPattern.test(m.Name)).map(m => m.Id);\nconst webhookData = $('Radarr Webhook').first().json;\nreturn { json: { mcuIds: mcuIds.join(','), dcIds: dcIds.join(','), mcuCount: mcuIds.length, dcCount: dcIds.length, movieName: webhookData.movie?.title || 'Unknown', movieYear: webhookData.movie?.year || '' } };"
      },
      "name": "Filter MCU/DC Movies",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1360,
        300
      ],
      "id": "2edb9187-3a46-4608-982f-e1582a88aafd"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://100.117.1.53:8096/Collections/bbdbb8527dcfdd4814f3711d284a2758/Items?ids={{ $json.mcuIds }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Emby-Token",
              "value": "499bb488230147bc9e24d694bcd3cce8"
            }
          ]
        },
        "options": {}
      },
      "name": "Sync MCU Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        200
      ],
      "id": "da3d9c89-0d4b-49ba-b5ef-77cf151defbc"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=http://100.117.1.53:8096/Collections/04b4ac98c48715279a906f3a84af2301/Items?ids={{ $json.dcIds }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Emby-Token",
              "value": "499bb488230147bc9e24d694bcd3cce8"
            }
          ]
        },
        "options": {}
      },
      "name": "Sync DC Collection",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1580,
        400
      ],
      "id": "e6710172-7677-4e65-8033-e72ff639a34d"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $vars.DISCORD_WEBHOOK_URL }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={ \"embeds\": [{ \"title\": \"Collections Synced\", \"description\": \"{{ $('Filter MCU/DC Movies').first().json.movieName }} imported\", \"color\": 5793266, \"fields\": [{ \"name\": \"MCU\", \"value\": \"{{ $('Filter MCU/DC Movies').first().json.mcuCount }} movies\", \"inline\": true }, { \"name\": \"DCEU\", \"value\": \"{{ $('Filter MCU/DC Movies').first().json.dcCount }} movies\", \"inline\": true }] }] }",
        "options": {}
      },
      "name": "Discord Notification",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1800,
        300
      ],
      "id": "30f832f0-3391-4ddd-8464-0a0cce0456e4"
    }
  ],
  "connections": {
    "Radarr Webhook": {
      "main": [
        [
          {
            "node": "Filter Downloads Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Downloads Only": {
      "main": [
        [
          {
            "node": "Trigger TMDb Scan",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger TMDb Scan": {
      "main": [
        [
          {
            "node": "Wait 15s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 15s": {
      "main": [
        [
          {
            "node": "Get All Movies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Movies": {
      "main": [
        [
          {
            "node": "Filter MCU/DC Movies",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter MCU/DC Movies": {
      "main": [
        [
          {
            "node": "Sync MCU Collection",
            "type": "main",
            "index": 0
          },
          {
            "node": "Sync DC Collection",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sync MCU Collection": {
      "main": [
        [
          {
            "node": "Discord Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
