fixtures/n8n/snapshots/20260216-112351/frILp5yBrBSjtTTe__A04_-_Status_Change_Notification.json
{
  "id": "frILp5yBrBSjtTTe",
  "name": "A04 - Status Change Notification",
  "active": false,
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "order.status_changed",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "typeVersion": 1,
      "id": "c7737569-8aad-441b-bac3-f093767c1d8c"
    },
    {
      "name": "Get Order",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        450,
        300
      ],
      "parameters": {
        "url": "https://mintprints-api.ronny.works/api/orders/={{$json.order_id}}",
        "method": "GET",
        "authentication": "none",
        "responseFormat": "json"
      },
      "typeVersion": 3,
      "id": "e5267fc2-6274-4f76-b586-99f9b3fc870a"
    },
    {
      "name": "Determine Notification Type",
      "type": "n8n-nodes-base.switch",
      "position": [
        650,
        300
      ],
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.new_status}}",
        "rules": {
          "rules": [
            {
              "value2": "Ready for Pickup",
              "outputKey": "pickup"
            },
            {
              "value2": "COMPLETE",
              "outputKey": "complete"
            },
            {
              "value2": "In Production",
              "outputKey": "production"
            },
            {
              "value2": "Art Approved",
              "outputKey": "art_approved"
            },
            {
              "value2": "CANCELLED",
              "outputKey": "cancelled"
            }
          ]
        },
        "fallbackOutput": "other"
      },
      "typeVersion": 2,
      "id": "f2493ad6-3b7d-49d3-9f64-cefd309473c6"
    },
    {
      "name": "Get Customer",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        850,
        300
      ],
      "parameters": {
        "url": "https://mintprints-api.ronny.works/api/customers/={{$node['Get Order'].json.customer_id}}",
        "method": "GET",
        "authentication": "none",
        "responseFormat": "json"
      },
      "typeVersion": 3,
      "id": "922cade5-e38f-4082-aa34-aa3372ee5bcf"
    },
    {
      "name": "Check SMS Opt-in",
      "type": "n8n-nodes-base.if",
      "position": [
        1050,
        200
      ],
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$node['Get Customer'].json.sms_opt_in}}",
              "value2": true
            }
          ]
        }
      },
      "typeVersion": 1,
      "id": "60add47f-972f-4a4f-adc3-1d55a1b85eb2"
    },
    {
      "name": "Send SMS - Pickup",
      "type": "n8n-nodes-base.twilio",
      "position": [
        1250,
        100
      ],
      "parameters": {
        "operation": "send",
        "from": "={{$env.TWILIO_PHONE_NUMBER}}",
        "to": "={{$node['Get Customer'].json.phone}}",
        "message": "Mint Prints: Your order #{{$node['Get Order'].json.visual_id}} is ready for pickup!\n\n1033 SW 30th Ave, Deerfield Beach\nMon-Fri 9am-5pm\n\nQuestions? (954) 850-6468"
      },
      "typeVersion": 3,
      "id": "4b814313-69bf-48b4-adf1-05a036705195"
    },
    {
      "name": "Send Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        1050,
        400
      ],
      "parameters": {
        "channel": "#orders",
        "text": ":arrows_counterclockwise: *Status Changed*\n\n*Order:* #{{$node['Get Order'].json.visual_id}}\n*Customer:* {{$node['Get Customer'].json.first_name}} {{$node['Get Customer'].json.last_name}}\n*Previous:* {{$json.old_status}}\n*New:* {{$json.new_status}}\n*Changed By:* {{$json.changed_by || 'System'}}\n\n<https://print-shop-os--hypnotizedent.github.app/orders/{{$node['Get Order'].json.id}}|View Order>",
        "otherOptions": {}
      },
      "typeVersion": 2,
      "id": "fa70f2c0-6f88-48e0-b126-5c471eee43c1"
    },
    {
      "name": "Log Activity",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1250,
        400
      ],
      "parameters": {
        "url": "https://mintprints-api.ronny.works/api/activity",
        "method": "POST",
        "authentication": "none",
        "contentType": "json",
        "bodyParametersJson": "={\"entity_type\": \"order\", \"entity_id\": \"{{$node['Get Order'].json.id}}\", \"activity_type\": \"status_change\", \"description\": \"Status changed from {{$json.old_status}} to {{$json.new_status}}\"}"
      },
      "typeVersion": 3,
      "id": "d9bfe6f9-4115-4f46-88f7-65324d87ccfb"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Order": {
      "main": [
        [
          {
            "node": "Determine Notification Type",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Determine Notification Type": {
      "main": [
        [
          {
            "node": "Get Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Customer",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer": {
      "main": [
        [
          {
            "node": "Check SMS Opt-in",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Slack",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check SMS Opt-in": {
      "main": [
        [
          {
            "node": "Send SMS - Pickup",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Send SMS - Pickup": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
