fixtures/n8n/snapshots/20260216-112351/hvaELCVzJOtzjan2__Mint_OS_-_Quote_Sent_SMS.json
{
  "id": "hvaELCVzJOtzjan2",
  "name": "Mint OS - Quote Sent SMS",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "quote-sent",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "quote-sent-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-phone",
              "leftValue": "={{ $json.body?.customer_phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-has-phone",
      "name": "Has Phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        400,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "customer-phone",
              "name": "customer_phone",
              "type": "string",
              "value": "={{ ($json.body.customer_phone || '').replace(/[^0-9+]/g, '') }}"
            },
            {
              "id": "customer-name",
              "name": "customer_name",
              "type": "string",
              "value": "={{ $json.body.customer_name || 'there' }}"
            },
            {
              "id": "quote-number",
              "name": "quote_number",
              "type": "string",
              "value": "={{ $json.body.quote_number }}"
            },
            {
              "id": "total",
              "name": "total",
              "type": "string",
              "value": "={{ $json.body.total }}"
            },
            {
              "id": "approval-link",
              "name": "approval_link",
              "type": "string",
              "value": "={{ $json.body.approval_link }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-sms-vars",
      "name": "Set SMS Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        200
      ]
    },
    {
      "parameters": {
        "operation": "send",
        "from": "={{ $credentials.twilioPhoneNumber }}",
        "to": "={{ $json.customer_phone.startsWith('+') ? $json.customer_phone : '+1' + $json.customer_phone }}",
        "message": "={{ 'Mint Prints: Hi ' + $json.customer_name + '! Your quote ' + $json.quote_number + ' ($' + $json.total + ') is ready. View & approve: ' + $json.approval_link + ' Questions? (410) 747-6468' }}"
      },
      "id": "send-sms",
      "name": "Send SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        800,
        200
      ],
      "credentials": {
        "twilioApi": {
          "id": "M31BGs4LTs73juOs",
          "name": "Twilio Mint Prints"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sms-sent",
              "name": "sms_sent",
              "type": "boolean",
              "value": true
            },
            {
              "id": "quote-number",
              "name": "quote_number",
              "type": "string",
              "value": "={{ $json.quote_number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "mark-sms-sent",
      "name": "Mark SMS Sent",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1000,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sms-sent",
              "name": "sms_sent",
              "type": "boolean",
              "value": false
            },
            {
              "id": "reason",
              "name": "reason",
              "type": "string",
              "value": "No phone number"
            },
            {
              "id": "quote-number",
              "name": "quote_number",
              "type": "string",
              "value": "={{ $json.body.quote_number }}"
            }
          ]
        },
        "options": {}
      },
      "id": "no-phone",
      "name": "No Phone",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        600,
        400
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, quote_number: $json.quote_number, sms_sent: $json.sms_sent, reason: $json.reason || null }) }}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1200,
        300
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Has Phone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Phone?": {
      "main": [
        [
          {
            "node": "Set SMS Variables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Phone",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set SMS Variables": {
      "main": [
        [
          {
            "node": "Send SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send SMS": {
      "main": [
        [
          {
            "node": "Mark SMS Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark SMS Sent": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Phone": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
