fixtures/n8n/snapshots/20260216-112351/iTeh76ein7LTnLL4__Mint_OS_-_Ready_for_Pickup_SMS.json
{
  "id": "iTeh76ein7LTnLL4",
  "name": "Mint OS - Ready for Pickup SMS",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mint-ready-pickup-sms",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "mint-ready-pickup-sms-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, order: $json.data?.visual_id, sms_sent: $json.sms_sent || false }) }}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "check-phone",
              "leftValue": "={{ $json.data?.customer?.phone }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-phone-exists",
      "name": "Has Customer Phone?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "customer-phone",
              "name": "customer_phone",
              "type": "string",
              "value": "={{ $json.data.customer.phone.replace(/[^0-9+]/g, '') }}"
            },
            {
              "id": "customer-name",
              "name": "customer_name",
              "type": "string",
              "value": "={{ $json.data.customer.first_name || 'there' }}"
            },
            {
              "id": "order-number",
              "name": "order_number",
              "type": "string",
              "value": "={{ $json.data.visual_id }}"
            },
            {
              "id": "balance-due",
              "name": "balance_due",
              "type": "string",
              "value": "={{ $json.data.order_summary?.balance_due ? '$' + Number($json.data.order_summary.balance_due).toFixed(2) : '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Set SMS Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        650,
        200
      ]
    },
    {
      "parameters": {
        "from": "+15619335513",
        "to": "={{ $json.customer_phone }}",
        "message": "=Hi {{ $json.customer_name }}! Your Mint Prints order #{{ $json.order_number }} is ready for pickup.{{ $json.balance_due ? ' Balance due: ' + $json.balance_due : '' }} Hours: Mon-Fri 9AM-5PM. Reply STOP to opt out."
      },
      "id": "send-sms",
      "name": "Send Pickup SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [
        850,
        200
      ],
      "credentials": {
        "twilioApi": {
          "id": "M31BGs4LTs73juOs",
          "name": "Twilio Mint Prints"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sms-sent",
              "name": "sms_sent",
              "type": "boolean",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "mark-sent",
      "name": "Mark SMS Sent",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1050,
        200
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "sms-sent",
              "name": "sms_sent",
              "type": "boolean",
              "value": false
            }
          ]
        },
        "options": {}
      },
      "id": "log-no-phone",
      "name": "No Phone - Skip",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        650,
        400
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Has Customer Phone?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Customer Phone?": {
      "main": [
        [
          {
            "node": "Set SMS Variables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Phone - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set SMS Variables": {
      "main": [
        [
          {
            "node": "Send Pickup SMS",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Pickup SMS": {
      "main": [
        [
          {
            "node": "Mark SMS Sent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Mark SMS Sent": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Phone - Skip": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
