fixtures/n8n/snapshots/20260216-112351/JLjfbCRq8jggNPS4__Printavo_Task_Sync.json
{
  "id": "JLjfbCRq8jggNPS4",
  "name": "Printavo Task Sync",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Initialize pagination\nreturn [{ json: { cursor: null, hasMore: true, allTasks: [] } }];"
      },
      "id": "init-pagination",
      "name": "Init Pagination",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-more",
              "leftValue": "={{ $json.hasMore }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-more-pages",
      "name": "Has More Pages?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.printavo.com/api/v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "ronny@mintprints.com"
            },
            {
              "name": "token",
              "value": "={{ $env.PRINTAVO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query GetTasks($after: String) { tasks(first: 50, after: $after) { pageInfo { hasNextPage endCursor } edges { node { id name dueAt completedAt taskable { ... on Invoice { id visualId } ... on Quote { id visualId } } } } } }\",\n  \"variables\": { \"after\": {{ $json.cursor ? '\"' + $json.cursor + '\"' : 'null' }} }\n}",
        "options": {}
      },
      "id": "fetch-tasks",
      "name": "Fetch Tasks from Printavo",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process tasks\nconst response = $input.first().json;\nconst pageInfo = response.data?.tasks?.pageInfo || {};\nconst edges = response.data?.tasks?.edges || [];\n\nconst prevData = $('Has More Pages?').first().json;\nconst allTasks = prevData.allTasks || [];\n\nconst newTasks = edges.map(edge => {\n  const node = edge.node;\n  const taskable = node.taskable || {};\n  return {\n    printavo_id: node.id,\n    name: node.name || '',\n    due_date: node.dueAt,\n    completed_at: node.completedAt,\n    order_printavo_id: taskable.id || null,\n    order_visual_id: taskable.visualId || null\n  };\n});\n\nallTasks.push(...newTasks);\n\nconsole.log(`Tasks page ${prevData.pageCount || 1}: fetched ${newTasks.length}`);\n\nreturn [{\n  json: {\n    cursor: pageInfo.endCursor || null,\n    hasMore: pageInfo.hasNextPage || false,\n    allTasks: allTasks,\n    pageCount: (prevData.pageCount || 0) + 1\n  }\n}];"
      },
      "id": "process-tasks",
      "name": "Process Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "amount": 0.5,
        "unit": "seconds"
      },
      "id": "rate-limit-delay",
      "name": "Rate Limit Delay",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Output all tasks for database upsert\nconst data = $input.first().json;\nconst tasks = data.allTasks || [];\n\nconsole.log(`Total tasks fetched: ${tasks.length}`);\n\nreturn tasks.map(task => ({ json: task }));"
      },
      "id": "output-all-tasks",
      "name": "Output All Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Upsert task\nINSERT INTO printavo_tasks (printavo_id, name, due_date, completed_at, order_printavo_id, order_visual_id, created_at, updated_at)\nVALUES (\n  '{{ $json.printavo_id }}',\n  '{{ ($json.name || '').replace(/'/g, \"''\") }}',\n  {{ $json.due_date ? \"'\" + $json.due_date + \"'\" : 'NULL' }},\n  {{ $json.completed_at ? \"'\" + $json.completed_at + \"'\" : 'NULL' }},\n  {{ $json.order_printavo_id ? \"'\" + $json.order_printavo_id + \"'\" : 'NULL' }},\n  {{ $json.order_visual_id ? \"'\" + $json.order_visual_id + \"'\" : 'NULL' }},\n  NOW(),\n  NOW()\n)\nON CONFLICT (printavo_id) DO UPDATE SET\n  name = EXCLUDED.name,\n  due_date = EXCLUDED.due_date,\n  completed_at = EXCLUDED.completed_at,\n  order_printavo_id = EXCLUDED.order_printavo_id,\n  order_visual_id = EXCLUDED.order_visual_id,\n  updated_at = NOW()\nRETURNING id, name;",
        "options": {}
      },
      "id": "upsert-task",
      "name": "Upsert Task",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1120,
        400
      ],
      "credentials": {
        "postgres": {
          "id": "H91B62moXyyKhSgJ",
          "name": "Mint OS Vault"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Summary\nconst items = $input.all();\nreturn [{\n  json: {\n    workflow: 'Printavo Task Sync',\n    timestamp: new Date().toISOString(),\n    tasksSynced: items.length,\n    status: 'completed'\n  }\n}];"
      },
      "id": "summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        400
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Init Pagination",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Pagination": {
      "main": [
        [
          {
            "node": "Has More Pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has More Pages?": {
      "main": [
        [
          {
            "node": "Fetch Tasks from Printavo",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output All Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Tasks from Printavo": {
      "main": [
        [
          {
            "node": "Process Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Tasks": {
      "main": [
        [
          {
            "node": "Rate Limit Delay",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit Delay": {
      "main": [
        [
          {
            "node": "Has More Pages?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output All Tasks": {
      "main": [
        [
          {
            "node": "Upsert Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upsert Task": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
