fixtures/n8n/snapshots/20260216-112351/KhuG0MpQ8DZes8q4__A01_-_New_Quote_Alert.json
{
  "id": "KhuG0MpQ8DZes8q4",
  "name": "A01 - New Quote Alert",
  "active": true,
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "quote.created",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "typeVersion": 1,
      "id": "9ff42783-5e3d-434a-a914-148bc7999313"
    },
    {
      "name": "Get Quote Details",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        450,
        300
      ],
      "parameters": {
        "url": "https://mintprints-api.ronny.works/api/quotes/={{$json.quote_id}}",
        "method": "GET",
        "authentication": "none",
        "responseFormat": "json"
      },
      "typeVersion": 3,
      "id": "0c8f8e54-0038-4ed4-b1c1-f36b1e53b0fa"
    },
    {
      "name": "Get Customer",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        650,
        300
      ],
      "parameters": {
        "url": "https://mintprints-api.ronny.works/api/customers/={{$json.customer_id}}",
        "method": "GET",
        "authentication": "none",
        "responseFormat": "json"
      },
      "typeVersion": 3,
      "id": "a3245372-0f1d-4df1-8dd7-38ce27486658"
    },
    {
      "name": "Send Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        850,
        200
      ],
      "parameters": {
        "channel": "#quotes",
        "text": ":new: *New Quote Request*\n\n*Quote:* #{{$node['Get Quote Details'].json.visual_id}}\n*Customer:* {{$node['Get Customer'].json.first_name}} {{$node['Get Customer'].json.last_name}} ({{$node['Get Customer'].json.company}})\n*Amount:* ${{$node['Get Quote Details'].json.total}}\n*Items:* {{$node['Get Quote Details'].json.line_item_count}}\n*Due:* {{$node['Get Quote Details'].json.due_date}}\n\n<https://print-shop-os--hypnotizedent.github.app/quotes/{{$node['Get Quote Details'].json.id}}|View Quote>",
        "otherOptions": {}
      },
      "typeVersion": 2,
      "id": "23a13f1e-3c9d-4b59-bd99-f7defefe016c"
    },
    {
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        850,
        400
      ],
      "parameters": {
        "fromEmail": "alerts@mintprints.com",
        "toEmail": "sales@mintprints.com",
        "subject": "New Quote #{{$node['Get Quote Details'].json.visual_id}} from {{$node['Get Customer'].json.company}}",
        "text": "A new quote request has been submitted.\n\nQuote: #{{$node['Get Quote Details'].json.visual_id}}\nCustomer: {{$node['Get Customer'].json.first_name}} {{$node['Get Customer'].json.last_name}}\nCompany: {{$node['Get Customer'].json.company}}\nAmount: ${{$node['Get Quote Details'].json.total}}\nItems: {{$node['Get Quote Details'].json.line_item_count}}\nDue Date: {{$node['Get Quote Details'].json.due_date}}\n\nView Quote: https://print-shop-os--hypnotizedent.github.app/quotes/{{$node['Get Quote Details'].json.id}}"
      },
      "typeVersion": 2,
      "id": "5cbba10f-f5b3-49ac-9a56-982cdf575b04"
    },
    {
      "name": "Log Activity",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1050,
        300
      ],
      "parameters": {
        "url": "https://mintprints-api.ronny.works/api/activity",
        "method": "POST",
        "authentication": "none",
        "contentType": "json",
        "bodyParametersJson": "={\"entity_type\": \"quote\", \"entity_id\": \"{{$node['Get Quote Details'].json.id}}\", \"activity_type\": \"alert_sent\", \"description\": \"New quote alert sent to Slack and email\"}"
      },
      "typeVersion": 3,
      "id": "b0ac6731-9c7b-4afe-911c-294ab23a711c"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Quote Details",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Quote Details": {
      "main": [
        [
          {
            "node": "Get Customer",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Customer": {
      "main": [
        [
          {
            "node": "Send Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
