fixtures/n8n/snapshots/20260216-112351/LDB9lesZWcjNCGCL__Artwork_Email_Ingestion_files-api.json
{
  "id": "LDB9lesZWcjNCGCL",
  "name": "Artwork Email Ingestion (files-api)",
  "active": true,
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Every 15 Minutes",
      "type": "n8n-nodes-base.scheduleTrigger",
      "notes": "Runs every 15 minutes to check for new artwork emails",
      "position": [
        0,
        240
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 15
            }
          ]
        }
      },
      "typeVersion": 1.2
    },
    {
      "id": "webhook-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.webhook",
      "notes": "Webhook for manual trigger: POST /webhook/artwork-ingestion with {\"quote_number\": \"Q-2026-0003\", \"sender_email\": \"marketing@covebrewery.com\"}",
      "position": [
        0,
        440
      ],
      "parameters": {
        "path": "artwork-ingestion",
        "options": {},
        "httpMethod": "POST"
      },
      "typeVersion": 2
    },
    {
      "id": "get-graph-token",
      "name": "Get Graph API Token",
      "type": "n8n-nodes-base.httpRequest",
      "notes": "Gets OAuth2 token for Microsoft Graph API. Requires AZURE_TENANT_ID, AZURE_CLIENT_ID, AZURE_CLIENT_SECRET env vars.",
      "position": [
        220,
        340
      ],
      "parameters": {
        "url": "=https://login.microsoftonline.com/{{ $env.AZURE_TENANT_ID }}/oauth2/v2.0/token",
        "method": "POST",
        "options": {},
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $env.AZURE_CLIENT_ID }}"
            },
            {
              "name": "client_secret",
              "value": "={{ $env.AZURE_CLIENT_SECRET }}"
            },
            {
              "name": "scope",
              "value": "https://graph.microsoft.com/.default"
            },
            {
              "name": "grant_type",
              "value": "client_credentials"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "get-emails",
      "name": "Get Emails with Attachments",
      "type": "n8n-nodes-base.httpRequest",
      "notes": "Fetches emails from last 7 days with attachments. OUTLOOK_USER_ID should be the Info@mintprints.com user GUID.",
      "position": [
        440,
        340
      ],
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $env.OUTLOOK_USER_ID }}/messages",
        "method": "GET",
        "options": {},
        "sendQuery": true,
        "sendHeaders": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "$top",
              "value": "50"
            },
            {
              "name": "$orderby",
              "value": "receivedDateTime desc"
            },
            {
              "name": "$select",
              "value": "id,subject,receivedDateTime,from,hasAttachments,bodyPreview"
            },
            {
              "name": "$filter",
              "value": "=hasAttachments eq true and receivedDateTime ge {{ $now.minus(7, 'days').toISO() }}"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Graph API Token').item.json.access_token }}"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "filter-artwork-emails",
      "name": "Filter Artwork Emails",
      "type": "n8n-nodes-base.code",
      "notes": "Filters emails to only artwork/mockup related submissions from customers",
      "position": [
        660,
        340
      ],
      "parameters": {
        "jsCode": "// SAFETY FILTER (TEST MODE)\n// Only process emails whose subject includes BOTH:\n//   - \"VID:\"\n//   - \"email ingest test\"\n// Also require: has_attachments === true\n//\n// After proof is complete: Set SAFETY_TEST_MODE = false\n\nconst SAFETY_TEST_MODE = true;\n\nconst out = [];\nconst items = $input.all();\n\nfor (const item of items) {\n  const messages = item.json.value || [];\n\n  for (const msg of messages) {\n    const subject = String(msg.subject || \"\");\n    const subjectLower = subject.toLowerCase();\n    const hasAttachments = Boolean(msg.hasAttachments);\n\n    if (!hasAttachments) continue;\n\n    if (SAFETY_TEST_MODE) {\n      const ok =\n        subjectLower.includes(\"vid:\") &&\n        subjectLower.includes(\"email ingest test\");\n      if (!ok) continue;\n    }\n\n    out.push({\n      json: {\n        email_id: msg.id,\n        subject: msg.subject,\n        received_at: msg.receivedDateTime,\n        sender_email: msg.from?.emailAddress?.address,\n        sender_name: msg.from?.emailAddress?.name,\n        has_attachments: msg.hasAttachments,\n      },\n    });\n  }\n}\n\nreturn out;\n"
      },
      "typeVersion": 2
    },
    {
      "id": "lookup-quote",
      "name": "Lookup Quote by Customer Email",
      "type": "n8n-nodes-base.httpRequest",
      "notes": "Looks up open quotes for this customer. Returns most recent draft/pending quote with visual_id.",
      "position": [
        880,
        340
      ],
      "parameters": {
        "url": "=https://mintprints-api.ronny.works/api/v2/quotes/by-customer-email?email={{ encodeURIComponent($json.sender_email) }}",
        "method": "GET",
        "options": {}
      },
      "typeVersion": 4.2
    },
    {
      "id": "if-has-quote",
      "name": "Has Matching Quote?",
      "type": "n8n-nodes-base.if",
      "notes": "Only proceed if we found a matching quote with visual_id for this customer",
      "position": [
        1100,
        340
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "has-quote",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              },
              "leftValue": "={{ $json.visual_id }}",
              "rightValue": ""
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "get-attachments",
      "name": "Get Email Attachments",
      "type": "n8n-nodes-base.httpRequest",
      "notes": "Fetches all attachments from the email including base64 content",
      "position": [
        1320,
        240
      ],
      "parameters": {
        "url": "=https://graph.microsoft.com/v1.0/users/{{ $env.OUTLOOK_USER_ID }}/messages/{{ $json.email_id }}/attachments",
        "method": "GET",
        "options": {},
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{ $('Get Graph API Token').item.json.access_token }}"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "process-attachments",
      "name": "Process Attachments",
      "type": "n8n-nodes-base.code",
      "notes": "Prepares each attachment with visual_id resolution and source_ref for idempotency",
      "position": [
        1540,
        240
      ],
      "parameters": {
        "jsCode": "// Process attachments and prepare for files-api upload\n// Includes visual_id resolution and source_ref for idempotency\n\nconst attachments = $input.item.json.value || [];\nconst quoteData = $('Lookup Quote by Customer Email').item.json;\nconst emailData = $('Filter Artwork Emails').item.json;\nconst messageId = emailData.email_id;\nconst subject = emailData.subject || '';\nconst senderEmail = emailData.sender_email;\n\n// Parse visual_id from subject (patterns: VID:30020, #30020, [30020])\nfunction parseVisualIdFromSubject(subject) {\n  const patterns = [\n    /VID[:\\s]*(\\d{5})/i,\n    /#(\\d{5})/,\n    /\\[(\\d{5})\\]/\n  ];\n  for (const pattern of patterns) {\n    const match = subject.match(pattern);\n    if (match) return match[1];\n  }\n  return null;\n}\n\n// Resolve visual_id: prefer subject parse, fallback to quote visual_id\nconst parsedVisualId = parseVisualIdFromSubject(subject);\nconst visualId = parsedVisualId || quoteData.visual_id;\n\nconst imageTypes = [\n  'image/png', 'image/jpeg', 'image/jpg', 'image/gif', 'image/webp',\n  'application/pdf', 'application/illustrator', 'application/postscript',\n  'image/svg+xml', 'application/x-photoshop'\n];\n\nconst results = [];\n\nfor (const attachment of attachments) {\n  // Only process supported file types\n  const contentType = attachment.contentType || '';\n  if (!imageTypes.some(type => contentType.includes(type))) {\n    continue;\n  }\n  \n  const fileName = attachment.name || `attachment_${Date.now()}`;\n  const sanitizedName = fileName.replace(/[^a-zA-Z0-9._-]/g, '_');\n  const attachmentId = attachment.id;\n  \n  // Build source_ref for idempotency: graph:<messageId>:<attachmentId>\n  const sourceRef = `graph:${messageId}:${attachmentId}`;\n  \n  results.push({\n    json: {\n      // Identity\n      visual_id: visualId,\n      message_id: messageId,\n      attachment_id: attachmentId,\n      source_ref: sourceRef,\n      \n      // File data\n      filename: sanitizedName,\n      content_type: contentType,\n      size_bytes: attachment.size || 0,\n      content_bytes: attachment.contentBytes,\n      \n      // Metadata for files-api\n      source: 'email',\n      created_by: 'n8n-email-ingest',\n      \n      // Email context (for audit)\n      sender_email: senderEmail,\n      subject: subject,\n      received_at: emailData.received_at\n    }\n  });\n}\n\nreturn results;"
      },
      "typeVersion": 2
    },
    {
      "id": "check-idempotency",
      "name": "Check Idempotency",
      "type": "n8n-nodes-base.httpRequest",
      "notes": "Checks if this attachment was already ingested using source_ref",
      "position": [
        1760,
        240
      ],
      "parameters": {
        "url": "={{ $env.FILES_API_URL || 'http://files-api:3500' }}/api/v1/files/ingest/exists",
        "method": "GET",
        "options": {},
        "sendQuery": true,
        "sendHeaders": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "source_ref",
              "value": "={{ $json.source_ref }}"
            }
          ]
        },
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.FILES_API_KEY }}"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "if-not-already-ingested",
      "name": "Already Ingested?",
      "type": "n8n-nodes-base.if",
      "notes": "Skip if already ingested (idempotency)",
      "position": [
        1980,
        240
      ],
      "parameters": {
        "options": {},
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "not-exists",
              "operator": {
                "type": "boolean",
                "operation": "equals"
              },
              "leftValue": "={{ $json.exists }}",
              "rightValue": false
            }
          ]
        }
      },
      "typeVersion": 2
    },
    {
      "id": "files-api-prepare",
      "name": "Files API: Prepare Upload",
      "type": "n8n-nodes-base.httpRequest",
      "notes": "Gets presigned URL from files-api for uploading to MinIO",
      "position": [
        2200,
        140
      ],
      "parameters": {
        "url": "={{ $env.FILES_API_URL || 'http://files-api:3500' }}/api/v1/files/upload/prepare",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"visual_id\": \"{{ $('Process Attachments').item.json.visual_id }}\",\n  \"kind\": \"original\",\n  \"filename\": \"{{ $('Process Attachments').item.json.filename }}\",\n  \"content_type\": \"{{ $('Process Attachments').item.json.content_type }}\",\n  \"size_bytes\": {{ $('Process Attachments').item.json.size_bytes }},\n  \"source\": \"email\",\n  \"source_ref\": \"{{ $('Process Attachments').item.json.source_ref }}\",\n  \"created_by\": \"n8n-email-ingest\"\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.FILES_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "upload-to-presigned-url",
      "name": "Upload to Presigned URL",
      "type": "n8n-nodes-base.httpRequest",
      "notes": "Uploads file directly to MinIO using presigned URL",
      "position": [
        2420,
        140
      ],
      "parameters": {
        "url": "={{ $json.presigned_url }}",
        "body": "={{ Buffer.from($('Process Attachments').item.json.content_bytes, 'base64') }}",
        "method": "PUT",
        "options": {},
        "sendBody": true,
        "contentType": "raw",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "={{ $('Process Attachments').item.json.content_type }}"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "files-api-confirm",
      "name": "Files API: Confirm Upload",
      "type": "n8n-nodes-base.httpRequest",
      "notes": "Confirms upload, moves file to final location, creates job_files record",
      "position": [
        2640,
        140
      ],
      "parameters": {
        "url": "={{ $env.FILES_API_URL || 'http://files-api:3500' }}/api/v1/files/upload/confirm",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"upload_id\": \"{{ $('Files API: Prepare Upload').item.json.upload_id }}\"\n}",
        "sendBody": true,
        "sendHeaders": true,
        "specifyBody": "json",
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "={{ $env.FILES_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        }
      },
      "typeVersion": 4.2
    },
    {
      "id": "skipped-duplicate",
      "name": "Skipped (Duplicate)",
      "type": "n8n-nodes-base.set",
      "notes": "Records that this attachment was skipped because it already exists",
      "position": [
        2200,
        340
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "type": "string",
              "value": "skipped_duplicate"
            },
            {
              "id": "reason",
              "name": "reason",
              "type": "string",
              "value": "=Already ingested: {{ $('Process Attachments').item.json.source_ref }}"
            },
            {
              "id": "existing_file_id",
              "name": "existing_file_id",
              "type": "number",
              "value": "={{ $('Check Idempotency').item.json.file_id }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "no-quote-found",
      "name": "No Quote Found",
      "type": "n8n-nodes-base.set",
      "notes": "Emails without matching quotes are logged for manual review",
      "position": [
        1320,
        440
      ],
      "parameters": {
        "options": {},
        "assignments": {
          "assignments": [
            {
              "id": "status",
              "name": "status",
              "type": "string",
              "value": "no_matching_quote"
            },
            {
              "id": "reason",
              "name": "reason",
              "type": "string",
              "value": "=No open quote found for customer: {{ $('Filter Artwork Emails').item.json.sender_email }}"
            }
          ]
        }
      },
      "typeVersion": 3.4
    },
    {
      "id": "collect-results",
      "name": "Collect Results",
      "type": "n8n-nodes-base.code",
      "notes": "Aggregates upload results for logging",
      "position": [
        2860,
        240
      ],
      "parameters": {
        "jsCode": "// Collect results for activity log\nconst allItems = $input.all();\nconst processedItems = $('Process Attachments').all();\n\nconst results = {\n  total_attachments: processedItems.length,\n  uploaded: 0,\n  skipped: 0,\n  files: []\n};\n\nfor (const item of allItems) {\n  if (item.json.file_id) {\n    results.uploaded++;\n    results.files.push({\n      file_id: item.json.file_id,\n      final_key: item.json.final_key,\n      url: item.json.url\n    });\n  } else if (item.json.status === 'skipped_duplicate') {\n    results.skipped++;\n  }\n}\n\nreturn [{ json: results }];"
      },
      "typeVersion": 2
    },
    {
      "id": "log-activity",
      "name": "Log Activity",
      "type": "n8n-nodes-base.httpRequest",
      "notes": "Logs email ingestion to activity log for audit trail",
      "position": [
        3080,
        240
      ],
      "parameters": {
        "url": "https://mintprints-api.ronny.works/api/v2/activity-log",
        "method": "POST",
        "options": {},
        "jsonBody": "={\n  \"type\": \"email_artwork_ingested\",\n  \"visual_id\": \"{{ $('Process Attachments').first().json.visual_id }}\",\n  \"details\": {\n    \"message_id\": \"{{ $('Process Attachments').first().json.message_id }}\",\n    \"sender\": \"{{ $('Process Attachments').first().json.sender_email }}\",\n    \"subject\": \"{{ $('Process Attachments').first().json.subject }}\",\n    \"total_attachments\": {{ $json.total_attachments }},\n    \"uploaded\": {{ $json.uploaded }},\n    \"skipped_duplicates\": {{ $json.skipped }},\n    \"files\": {{ JSON.stringify($json.files) }}\n  },\n  \"created_by\": \"n8n-email-ingest\"\n}",
        "sendBody": true,
        "specifyBody": "json"
      },
      "typeVersion": 4.2
    },
    {
      "id": "sticky-note",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        0
      ],
      "parameters": {
        "content": "## Artwork Email Ingestion Workflow (files-api integration)\n\n**Purpose:** Automatically pull customer artwork from email attachments and commit via files-api.\n\n**Flow:**\n1. Trigger: Every 15 min or manual webhook\n2. Get OAuth token for Microsoft Graph\n3. Fetch emails with attachments (last 7 days)\n4. Filter for artwork-related emails\n5. Lookup matching quote by customer email (get visual_id)\n6. Download attachments from Graph API\n7. **For each attachment:**\n   - Parse visual_id from subject (VID:30020, #30020, [30020])\n   - Build source_ref: `graph:<messageId>:<attachmentId>`\n   - Check idempotency (skip if already exists)\n   - Prepare upload via files-api\n   - Upload to presigned URL (MinIO)\n   - Confirm upload (creates job_files record)\n8. Log activity for audit trail\n\n**Required Env Vars:**\n- `AZURE_TENANT_ID`, `AZURE_CLIENT_ID`, `AZURE_CLIENT_SECRET` (Graph API)\n- `OUTLOOK_USER_ID`: Info@mintprints.com user GUID\n- `FILES_API_URL`: files-api base URL (default: http://files-api:3500)\n- `FILES_API_KEY`: API key for files-api\n\n**Idempotency:**\nEach attachment gets a unique `source_ref = graph:<messageId>:<attachmentId>`\nRe-running the workflow will NOT create duplicate files.\n\n**Bucket:** `client-assets` (per Mint Files separation rules)\n\n**Manual Trigger:**\n```\nPOST /webhook/artwork-ingestion\n{\"quote_number\": \"Q-2026-0003\", \"sender_email\": \"customer@example.com\"}\n```\n\n**Related:**\n- `modules/files-api/ingest/EMAIL_INGEST_SPEC.md`\n- `docs/MINT_FILES_INTEGRATION.md`\n- Issue #703"
      },
      "typeVersion": 1
    }
  ],
  "connections": {
    "Every 15 Minutes": {
      "main": [
        [
          {
            "node": "Get Graph API Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Get Graph API Token",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Graph API Token": {
      "main": [
        [
          {
            "node": "Get Emails with Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Emails with Attachments": {
      "main": [
        [
          {
            "node": "Filter Artwork Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Artwork Emails": {
      "main": [
        [
          {
            "node": "Lookup Quote by Customer Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup Quote by Customer Email": {
      "main": [
        [
          {
            "node": "Has Matching Quote?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Matching Quote?": {
      "main": [
        [
          {
            "node": "Get Email Attachments",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Quote Found",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Email Attachments": {
      "main": [
        [
          {
            "node": "Process Attachments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Attachments": {
      "main": [
        [
          {
            "node": "Check Idempotency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Idempotency": {
      "main": [
        [
          {
            "node": "Already Ingested?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Already Ingested?": {
      "main": [
        [
          {
            "node": "Files API: Prepare Upload",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skipped (Duplicate)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Files API: Prepare Upload": {
      "main": [
        [
          {
            "node": "Upload to Presigned URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to Presigned URL": {
      "main": [
        [
          {
            "node": "Files API: Confirm Upload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Files API: Confirm Upload": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skipped (Duplicate)": {
      "main": [
        [
          {
            "node": "Collect Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Collect Results": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
