fixtures/n8n/snapshots/20260216-112351/mC4CE7DAmvuJ7612__Mint_OS_-_Daily_Orders_Summary.json
{
  "id": "mC4CE7DAmvuJ7612",
  "name": "Mint OS - Daily Orders Summary",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "id": "d10a611c-aaff-4e50-8680-121f75176dec",
      "name": "Daily 8am CST",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        224
      ],
      "notes": "Triggers daily at 8:00 AM. Adjust timezone in n8n settings."
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT \n  COUNT(*) as total_orders,\n  COALESCE(SUM(total_amount), 0) as total_revenue,\n  COUNT(*) FILTER (WHERE status = 'pending') as pending_orders,\n  COUNT(*) FILTER (WHERE status = 'in_progress') as in_progress_orders,\n  COUNT(*) FILTER (WHERE status = 'completed') as completed_orders,\n  COUNT(*) FILTER (WHERE status = 'cancelled') as cancelled_orders\nFROM orders\nWHERE created_at >= CURRENT_DATE - INTERVAL '1 day'\n  AND created_at < CURRENT_DATE;",
        "options": {}
      },
      "id": "3e355a5f-7a18-4762-ae8d-ce1ec0d4b08f",
      "name": "Query Yesterday Orders",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        224,
        224
      ],
      "notes": "Queries orders from yesterday. Update credential ID after creating Postgres credential."
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "subject",
              "name": "subject",
              "value": "=Daily Orders Summary - {{ $now.format('MMMM d, yyyy') }}",
              "type": "string"
            },
            {
              "id": "body",
              "name": "body",
              "value": "=<h2>Mint OS Daily Orders Summary</h2>\n<p><strong>Date:</strong> {{ $now.minus(1, 'day').format('MMMM d, yyyy') }}</p>\n<hr>\n<h3>Order Statistics</h3>\n<ul>\n<li><strong>Total Orders:</strong> {{ $json.total_orders }}</li>\n<li><strong>Total Revenue:</strong> ${{ Number($json.total_revenue).toFixed(2) }}</li>\n</ul>\n<h3>Orders by Status</h3>\n<ul>\n<li>Pending: {{ $json.pending_orders }}</li>\n<li>In Progress: {{ $json.in_progress_orders }}</li>\n<li>Completed: {{ $json.completed_orders }}</li>\n<li>Cancelled: {{ $json.cancelled_orders }}</li>\n</ul>\n<hr>\n<p><em>Generated by n8n automation</em></p>",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b90c2dd3-795a-4ea0-9408-38222f3c515d",
      "name": "Format Email",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        448,
        224
      ]
    },
    {
      "parameters": {
        "toRecipients": "ronny@mintprintshop.com",
        "subject": "={{ $json.subject }}",
        "bodyContent": "={{ $json.body }}",
        "additionalFields": {}
      },
      "id": "7f6e9664-e211-4655-948b-682dbe5573f0",
      "name": "Send via Outlook",
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        672,
        224
      ],
      "webhookId": "d2c3f1db-bd9f-4f70-8c2a-01734e6e3db2",
      "notes": "Update recipient email and credential ID after creating Microsoft OAuth credential."
    },
    {
      "parameters": {
        "content": "## Daily Orders Summary Workflow\n\n**Purpose:** Send daily email with yesterday's order statistics\n\n**Schedule:** 8:00 AM daily (CST)\n\n**Setup Required:**\n1. Create Postgres credential for Mint OS database\n2. Create Microsoft Outlook OAuth2 credential\n3. Update recipient email address\n\n**Database:** docker-host:15432 / mint_os"
      },
      "id": "7958e1f7-57a9-4248-baaa-3477413da32a",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "Daily 8am CST": {
      "main": [
        [
          {
            "node": "Query Yesterday Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Query Yesterday Orders": {
      "main": [
        [
          {
            "node": "Format Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Email": {
      "main": [
        [
          {
            "node": "Send via Outlook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
