fixtures/n8n/snapshots/20260216-112351/NbPfCSg4urt3fyIw__Mint_OS_-_New_Order_Alert.json
{
  "id": "NbPfCSg4urt3fyIw",
  "name": "Mint OS - New Order Alert",
  "active": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "new-order",
        "authentication": "headerAuth",
        "options": {}
      },
      "id": "0c02ebe4-2e99-46dc-b470-9a42ce0237d5",
      "name": "New Order Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        0,
        240
      ],
      "webhookId": "new-order-webhook",
      "notes": "Webhook URL: https://n8n.ronny.works/webhook/new-order\nExpects POST with order data from Mint OS API"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "order_id",
              "name": "order_id",
              "value": "={{ $json.body.order_id || $json.order_id || 'N/A' }}",
              "type": "string"
            },
            {
              "id": "customer_name",
              "name": "customer_name",
              "value": "={{ $json.body.customer_name || $json.customer_name || 'Unknown' }}",
              "type": "string"
            },
            {
              "id": "total_amount",
              "name": "total_amount",
              "value": "={{ $json.body.total_amount || $json.total_amount || 0 }}",
              "type": "number"
            },
            {
              "id": "items_count",
              "name": "items_count",
              "value": "={{ $json.body.items?.length || $json.items?.length || 0 }}",
              "type": "number"
            },
            {
              "id": "order_type",
              "name": "order_type",
              "value": "={{ $json.body.order_type || $json.order_type || 'Standard' }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "b7164bcf-10c7-4817-8e5e-a087eb9dfd2a",
      "name": "Parse Order Data",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        224,
        240
      ]
    },
    {
      "parameters": {
        "resource": "chat"
      },
      "id": "a49c9ff7-80cb-4354-91a5-529c6fd3801b",
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.2,
      "position": [
        448,
        144
      ],
      "webhookId": "763f4ef8-7a79-418b-a5cc-159281f00e45",
      "notes": "Update channel name and Slack credential. Alternative: Use Microsoft Teams node instead."
    },
    {
      "parameters": {
        "resource": "chatMessage",
        "chatId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "message": "=**New Order Received!**\n\n**Order ID:** {{ $json.order_id }}\n**Customer:** {{ $json.customer_name }}\n**Items:** {{ $json.items_count }} item(s)\n**Total:** ${{ Number($json.total_amount).toFixed(2) }}\n**Type:** {{ $json.order_type }}\n\n[View Order](https://mintprints.ronny.works/orders/{{ $json.order_id }})",
        "options": {}
      },
      "id": "ea65ec7b-69d7-4e8c-8e4f-02eb97a1cb1a",
      "name": "Teams Alert (Alternative)",
      "type": "n8n-nodes-base.microsoftTeams",
      "typeVersion": 2,
      "position": [
        448,
        368
      ],
      "webhookId": "8a8b0bc8-f12d-406d-a1dd-85571fa5e6ee",
      "disabled": true,
      "notes": "Alternative to Slack. Enable this and disable Slack if using Teams."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ {\"status\": \"received\", \"order_id\": $json.order_id, \"timestamp\": $now.toISO()} }}",
        "options": {}
      },
      "id": "e7e6cca4-8f8f-4482-8b81-9d5d80e0a4b5",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        672,
        240
      ]
    },
    {
      "parameters": {
        "content": "## New Order Alert Workflow\n\n**Purpose:** Real-time notifications when new orders are placed\n\n**Webhook URL:** https://n8n.ronny.works/webhook/new-order\n\n**Setup Required:**\n1. Create Header Auth credential (for webhook security)\n2. Create Slack OR Microsoft Teams credential\n3. Add webhook call to Mint OS API order creation\n\n**Expected Payload:**\n```json\n{\n  \"order_id\": \"ORD-12345\",\n  \"customer_name\": \"John Doe\",\n  \"total_amount\": 150.00,\n  \"items\": [...],\n  \"order_type\": \"Rush\"\n}\n```"
      },
      "id": "6fdd8666-e6c5-4bff-b1fd-0ee19ed0db34",
      "name": "Sticky Note",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    }
  ],
  "connections": {
    "New Order Webhook": {
      "main": [
        [
          {
            "node": "Parse Order Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Order Data": {
      "main": [
        [
          {
            "node": "Slack Alert",
            "type": "main",
            "index": 0
          },
          {
            "node": "Teams Alert (Alternative)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Slack Alert": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Teams Alert (Alternative)": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
