fixtures/n8n/snapshots/20260216-112351/NZnbyuDvNEdYHw3U__Mint_OS_-_Payment_Needed_Email.json
{
  "id": "NZnbyuDvNEdYHw3U",
  "name": "Mint OS - Payment Needed Email",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mint-payment-needed",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "mint-payment-needed-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, order: $json.data?.visual_id, email_sent: true }) }}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "check-email",
              "leftValue": "={{ $json.data?.customer?.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            },
            {
              "id": "check-balance",
              "leftValue": "={{ Number($json.data?.order_summary?.balance_due || 0) }}",
              "rightValue": "0",
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-prerequisites",
      "name": "Has Email & Balance Due?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "customer-email",
              "name": "customer_email",
              "type": "string",
              "value": "={{ $json.data.customer.email }}"
            },
            {
              "id": "customer-name",
              "name": "customer_name",
              "type": "string",
              "value": "={{ $json.data.customer.first_name || $json.data.order_summary?.customer_name || 'Valued Customer' }}"
            },
            {
              "id": "order-number",
              "name": "order_number",
              "type": "string",
              "value": "={{ $json.data.visual_id }}"
            },
            {
              "id": "balance-due",
              "name": "balance_due",
              "type": "string",
              "value": "={{ '$' + Number($json.data.order_summary?.balance_due || 0).toFixed(2) }}"
            },
            {
              "id": "order-total",
              "name": "order_total",
              "type": "string",
              "value": "={{ '$' + Number($json.data.order_summary?.total || 0).toFixed(2) }}"
            },
            {
              "id": "payment-link",
              "name": "payment_link",
              "type": "string",
              "value": "=https://mintprints-app.ronny.works/orders/{{ $json.data.id }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Set Email Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        650,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.RESEND_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Mint Print Shop <orders@mintprintshop.com>\",\n  \"to\": \"{{ $json.customer_email }}\",\n  \"subject\": \"Payment Needed - Mint Prints Order #{{ $json.order_number }}\",\n  \"html\": \"<div style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;'><h2 style='color: #2d5a27;'>Payment Reminder</h2><p>Hi {{ $json.customer_name }},</p><p>Your order <strong>#{{ $json.order_number }}</strong> is complete and ready!</p><div style='background: #f5f5f5; padding: 15px; border-radius: 8px; margin: 20px 0;'><strong>Order Summary</strong><br><br><strong>Order Total:</strong> {{ $json.order_total }}<br><strong>Balance Due:</strong> <span style='color: #d32f2f; font-weight: bold;'>{{ $json.balance_due }}</span></div><p style='margin: 20px 0;'><a href='{{ $json.payment_link }}' style='background: #2d5a27; color: white; padding: 12px 24px; text-decoration: none; border-radius: 6px; display: inline-block;'>View Order & Pay Online</a></p><p><strong>Or pay in person at pickup:</strong></p><div style='background: #f5f5f5; padding: 15px; border-radius: 8px; margin: 20px 0;'><strong>Mint Print Shop</strong><br>123 Print Street<br>Houston, TX 77001<br><br><strong>Hours:</strong> Mon-Fri 9AM-5PM<br><strong>We Accept:</strong> Cash, Credit Card, Check</div><p>Questions? Reply to this email or call (555) 123-4567.</p><p>Thank you for your business!</p><hr style='margin: 20px 0; border: none; border-top: 1px solid #ddd;'><p style='color: #666; font-size: 12px;'>Mint Print Shop - Quality Custom Printing</p></div>\"\n}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Payment Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {},
      "id": "log-skip",
      "name": "Skip - No Email or No Balance",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        650,
        400
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Has Email & Balance Due?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Email & Balance Due?": {
      "main": [
        [
          {
            "node": "Set Email Variables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Skip - No Email or No Balance",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Email Variables": {
      "main": [
        [
          {
            "node": "Send Payment Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Payment Email": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Skip - No Email or No Balance": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
