fixtures/n8n/snapshots/20260216-112351/qASgj318yUH3cR4l__A05_-_Daily_Digest.json
{
  "id": "qASgj318yUH3cR4l",
  "name": "A05 - Daily Digest",
  "active": false,
  "nodes": [
    {
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "position": [
        250,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * 1-5"
            }
          ]
        }
      },
      "typeVersion": 1,
      "id": "ee836afa-991d-4c33-8425-36f8b92c57ad"
    },
    {
      "name": "Get Today Orders",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        450,
        200
      ],
      "parameters": {
        "url": "https://mintprints-api.ronny.works/api/orders?due_date=today",
        "method": "GET",
        "authentication": "none",
        "responseFormat": "json"
      },
      "typeVersion": 3,
      "id": "a70c6391-d62c-440c-b6d1-c2382da9580c"
    },
    {
      "name": "Get Week Orders",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        450,
        400
      ],
      "parameters": {
        "url": "https://mintprints-api.ronny.works/api/orders?due_date_range=this_week",
        "method": "GET",
        "authentication": "none",
        "responseFormat": "json"
      },
      "typeVersion": 3,
      "id": "4e26cdb4-9961-4d45-b927-ba0ecfaef74e"
    },
    {
      "name": "Get Pending Quotes",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        450,
        600
      ],
      "parameters": {
        "url": "https://mintprints-api.ronny.works/api/quotes?status=pending",
        "method": "GET",
        "authentication": "none",
        "responseFormat": "json"
      },
      "typeVersion": 3,
      "id": "9ddb70c1-b4f0-432d-b73b-cb51b91cf399"
    },
    {
      "name": "Build Digest",
      "type": "n8n-nodes-base.code",
      "position": [
        650,
        400
      ],
      "parameters": {
        "jsCode": "const todayOrders = $('Get Today Orders').first().json.orders || [];\nconst weekOrders = $('Get Week Orders').first().json.orders || [];\nconst pendingQuotes = $('Get Pending Quotes').first().json.quotes || [];\n\nconst today = new Date().toLocaleDateString('en-US', { weekday: 'long', month: 'long', day: 'numeric' });\n\nconst todayDueValue = todayOrders.reduce((sum, o) => sum + (parseFloat(o.total) || 0), 0);\nconst weekDueValue = weekOrders.reduce((sum, o) => sum + (parseFloat(o.total) || 0), 0);\nconst quotesValue = pendingQuotes.reduce((sum, q) => sum + (parseFloat(q.total) || 0), 0);\n\nlet todayList = '';\nif (todayOrders.length > 0) {\n  todayList = todayOrders.slice(0, 10).map(o => \n    `  - #${o.visual_id} - ${o.customer_name} - $${o.total}`\n  ).join('\\n');\n} else {\n  todayList = '  No orders due today';\n}\n\nlet quotesList = '';\nif (pendingQuotes.length > 0) {\n  quotesList = pendingQuotes.slice(0, 5).map(q => \n    `  - #${q.visual_id} - ${q.customer_name} - $${q.total}`\n  ).join('\\n');\n} else {\n  quotesList = '  No pending quotes';\n}\n\nreturn {\n  today,\n  todayOrders: todayOrders.length,\n  todayDueValue: todayDueValue.toFixed(2),\n  weekOrders: weekOrders.length,\n  weekDueValue: weekDueValue.toFixed(2),\n  pendingQuotes: pendingQuotes.length,\n  quotesValue: quotesValue.toFixed(2),\n  todayList,\n  quotesList\n};"
      },
      "typeVersion": 2,
      "id": "ba5105c8-2dd0-4a27-b08e-c3deb7819ca8"
    },
    {
      "name": "Send Slack Digest",
      "type": "n8n-nodes-base.slack",
      "position": [
        850,
        300
      ],
      "parameters": {
        "channel": "#production",
        "text": ":sunrise: *Daily Digest - {{$json.today}}*\n\n:calendar: *Due Today* ({{$json.todayOrders}} orders, ${{$json.todayDueValue}})\n{{$json.todayList}}\n\n:date: *Due This Week*\n{{$json.weekOrders}} orders totaling ${{$json.weekDueValue}}\n\n:memo: *Pending Quotes* ({{$json.pendingQuotes}} quotes, ${{$json.quotesValue}})\n{{$json.quotesList}}\n\n<https://print-shop-os--hypnotizedent.github.app/dashboard|Open Dashboard>",
        "otherOptions": {}
      },
      "typeVersion": 2,
      "id": "eecf3468-11e6-40e1-9efc-99493c15c757"
    },
    {
      "name": "Send Email Digest",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        850,
        500
      ],
      "parameters": {
        "fromEmail": "digest@mintprints.com",
        "toEmail": "ronny@mintprints.com,production@mintprints.com",
        "subject": "Daily Digest - {{$json.today}} | {{$json.todayOrders}} Due Today",
        "html": "<h2>Daily Digest - {{$json.today}}</h2><h3>Due Today ({{$json.todayOrders}} orders)</h3><p>Total value: ${{$json.todayDueValue}}</p><pre>{{$json.todayList}}</pre><h3>Due This Week</h3><p>{{$json.weekOrders}} orders totaling ${{$json.weekDueValue}}</p><h3>Pending Quotes ({{$json.pendingQuotes}})</h3><p>Total value: ${{$json.quotesValue}}</p><pre>{{$json.quotesList}}</pre><p><a href='https://print-shop-os--hypnotizedent.github.app/dashboard'>Open Dashboard</a></p>"
      },
      "typeVersion": 2,
      "id": "0700936e-b61a-4c2b-b20a-7b758b88eced"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get Today Orders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Week Orders",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Pending Quotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Today Orders": {
      "main": [
        [
          {
            "node": "Build Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Week Orders": {
      "main": [
        [
          {
            "node": "Build Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Pending Quotes": {
      "main": [
        [
          {
            "node": "Build Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Digest": {
      "main": [
        [
          {
            "node": "Send Slack Digest",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
