fixtures/n8n/snapshots/20260216-112351/R7RUUZ9svqqhn8lG__Mint_OS_-_Ready_for_Pickup_Email.json
{
  "id": "R7RUUZ9svqqhn8lG",
  "name": "Mint OS - Ready for Pickup Email",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "mint-ready-pickup",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        250,
        300
      ],
      "webhookId": "mint-ready-pickup-webhook"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ received: true, order: $json.data?.visual_id, email_sent: true }) }}",
        "options": {}
      },
      "id": "respond-ok",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1100,
        400
      ]
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "id": "check-email",
              "leftValue": "={{ $json.data?.customer?.email }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "notEmpty"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-email-exists",
      "name": "Has Customer Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "customer-email",
              "name": "customer_email",
              "type": "string",
              "value": "={{ $json.data.customer.email }}"
            },
            {
              "id": "customer-name",
              "name": "customer_name",
              "type": "string",
              "value": "={{ $json.data.customer.first_name || $json.data.order_summary?.customer_name || 'Valued Customer' }}"
            },
            {
              "id": "order-number",
              "name": "order_number",
              "type": "string",
              "value": "={{ $json.data.visual_id }}"
            },
            {
              "id": "balance-due",
              "name": "balance_due",
              "type": "string",
              "value": "={{ $json.data.order_summary?.balance_due ? '$' + Number($json.data.order_summary.balance_due).toFixed(2) : '$0.00' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Set Email Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        650,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.resend.com/emails",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "={{ 'Bearer ' + $env.RESEND_API_KEY }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"from\": \"Mint Print Shop <orders@mintprintshop.com>\",\n  \"to\": \"{{ $json.customer_email }}\",\n  \"subject\": \"Your Mint Prints Order #{{ $json.order_number }} is Ready for Pickup!\",\n  \"html\": \"<div style='font-family: Arial, sans-serif; max-width: 600px; margin: 0 auto;'><h2 style='color: #2d5a27;'>Your Order is Ready!</h2><p>Hi {{ $json.customer_name }},</p><p>Great news! Your order <strong>#{{ $json.order_number }}</strong> is ready for pickup at:</p><div style='background: #f5f5f5; padding: 15px; border-radius: 8px; margin: 20px 0;'><strong>Mint Print Shop</strong><br>123 Print Street<br>Houston, TX 77001</div><p><strong>Pickup Hours:</strong><br>Monday - Friday: 9AM - 5PM</p><p><strong>Balance Due:</strong> {{ $json.balance_due }}</p><p>Please bring a valid ID when picking up your order.</p><p>Questions? Reply to this email or call (555) 123-4567.</p><p>Thank you for choosing Mint Prints!</p><hr style='margin: 20px 0; border: none; border-top: 1px solid #ddd;'><p style='color: #666; font-size: 12px;'>Mint Print Shop - Quality Custom Printing</p></div>\"\n}",
        "options": {}
      },
      "id": "send-email",
      "name": "Send Pickup Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        850,
        200
      ]
    },
    {
      "parameters": {},
      "id": "log-no-email",
      "name": "No Email - Skip",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        650,
        400
      ]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Has Customer Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has Customer Email?": {
      "main": [
        [
          {
            "node": "Set Email Variables",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Email - Skip",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Email Variables": {
      "main": [
        [
          {
            "node": "Send Pickup Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Pickup Email": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "No Email - Skip": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
