fixtures/n8n/snapshots/20260216-112351/ufMNr4xw9ufqSW7n__A03_-_New_Order_Alert.json
{
  "id": "ufMNr4xw9ufqSW7n",
  "name": "A03 - New Order Alert",
  "active": false,
  "nodes": [
    {
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "position": [
        250,
        300
      ],
      "parameters": {
        "path": "order.created",
        "httpMethod": "POST",
        "responseMode": "onReceived",
        "responseData": "allEntries"
      },
      "typeVersion": 1,
      "id": "72cb63e1-82ed-46b4-bd96-69f674b441c0"
    },
    {
      "name": "Get Order",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        450,
        300
      ],
      "parameters": {
        "url": "https://mintprints-api.ronny.works/api/orders/={{$json.order_id}}",
        "method": "GET",
        "authentication": "none",
        "responseFormat": "json"
      },
      "typeVersion": 3,
      "id": "a3a55ae7-5d58-43a2-bd16-f62d4ec62392"
    },
    {
      "name": "Get Line Items",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        650,
        300
      ],
      "parameters": {
        "url": "https://mintprints-api.ronny.works/api/orders/={{$json.order_id}}/line-items",
        "method": "GET",
        "authentication": "none",
        "responseFormat": "json"
      },
      "typeVersion": 3,
      "id": "aa72b7ac-1da2-4673-b210-a1b77e76fe8a"
    },
    {
      "name": "Calculate Urgency",
      "type": "n8n-nodes-base.code",
      "position": [
        850,
        300
      ],
      "parameters": {
        "jsCode": "const order = $input.first().json;\nconst dueDate = new Date(order.due_date);\nconst today = new Date();\nconst daysUntilDue = Math.ceil((dueDate - today) / (1000 * 60 * 60 * 24));\n\nlet urgency = ':white_circle:';\nlet urgencyText = 'Normal';\n\nif (daysUntilDue <= 1) {\n  urgency = ':red_circle:';\n  urgencyText = 'RUSH - Due Tomorrow!';\n} else if (daysUntilDue <= 3) {\n  urgency = ':orange_circle:';\n  urgencyText = 'Priority';\n} else if (daysUntilDue <= 7) {\n  urgency = ':yellow_circle:';\n  urgencyText = 'Standard';\n}\n\nreturn {\n  ...order,\n  urgency,\n  urgencyText,\n  daysUntilDue\n};"
      },
      "typeVersion": 2,
      "id": "25ab9f3f-79f6-47bc-a7ce-a5fc4b651175"
    },
    {
      "name": "Send Slack",
      "type": "n8n-nodes-base.slack",
      "position": [
        1050,
        200
      ],
      "parameters": {
        "channel": "#orders",
        "text": "{{$json.urgency}} *New Order Received*\n\n*Order:* #{{$json.visual_id}}\n*Customer:* {{$json.customer_name}} ({{$json.customer_company}})\n*Total:* ${{$json.total}}\n*Due:* {{$json.due_date}} ({{$json.daysUntilDue}} days)\n*Status:* {{$json.urgencyText}}\n\n<https://print-shop-os--hypnotizedent.github.app/orders/{{$json.id}}|View Order>",
        "otherOptions": {}
      },
      "typeVersion": 2,
      "id": "2bfed601-0f17-48ec-a2f3-310f09cab08a"
    },
    {
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "position": [
        1050,
        400
      ],
      "parameters": {
        "fromEmail": "alerts@mintprints.com",
        "toEmail": "production@mintprints.com",
        "subject": "[{{$json.urgencyText}}] New Order #{{$json.visual_id}} - ${{$json.total}}",
        "text": "New order received!\n\nOrder: #{{$json.visual_id}}\nCustomer: {{$json.customer_name}}\nCompany: {{$json.customer_company}}\nTotal: ${{$json.total}}\nDue Date: {{$json.due_date}}\nDays Until Due: {{$json.daysUntilDue}}\n\nView Order: https://print-shop-os--hypnotizedent.github.app/orders/{{$json.id}}"
      },
      "typeVersion": 2,
      "id": "96498ad5-d268-4362-a407-239f7e2edc8e"
    },
    {
      "name": "Log Activity",
      "type": "n8n-nodes-base.httpRequest",
      "position": [
        1250,
        300
      ],
      "parameters": {
        "url": "https://mintprints-api.ronny.works/api/activity",
        "method": "POST",
        "authentication": "none",
        "contentType": "json",
        "bodyParametersJson": "={\"entity_type\": \"order\", \"entity_id\": \"{{$json.id}}\", \"activity_type\": \"order_created_alert\", \"description\": \"New order alert sent to Slack and production email\"}"
      },
      "typeVersion": 3,
      "id": "0bc16675-f086-4929-be82-105aff827216"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Order",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Order": {
      "main": [
        [
          {
            "node": "Get Line Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Line Items": {
      "main": [
        [
          {
            "node": "Calculate Urgency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calculate Urgency": {
      "main": [
        [
          {
            "node": "Send Slack",
            "type": "main",
            "index": 0
          },
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Slack": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Log Activity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
