fixtures/n8n/snapshots/20260216-112351/YaEiLOicNvXAUoF8__Printavo_Artwork_Backfill.json
{
  "id": "YaEiLOicNvXAUoF8",
  "name": "Printavo Artwork Backfill",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Initialize for invoices pagination\nreturn [{ json: { cursor: null, hasMore: true, allRecords: [], source: 'invoices' } }];"
      },
      "id": "init-invoices",
      "name": "Init Invoices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "// Initialize for quotes pagination\nreturn [{ json: { cursor: null, hasMore: true, allRecords: [], source: 'quotes' } }];"
      },
      "id": "init-quotes",
      "name": "Init Quotes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        460,
        500
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-more-invoices",
              "leftValue": "={{ $json.hasMore }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-more-invoices",
      "name": "More Invoices?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "has-more-quotes",
              "leftValue": "={{ $json.hasMore }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-more-quotes",
      "name": "More Quotes?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        680,
        500
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.printavo.com/api/v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "ronny@mintprints.com"
            },
            {
              "name": "token",
              "value": "={{ $env.PRINTAVO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query GetInvoicesArtwork($after: String) { invoices(first: 50, after: $after) { pageInfo { hasNextPage endCursor } edges { node { id visualId productionFiles { edges { node { id fileUrl name } } } } } } }\",\n  \"variables\": { \"after\": {{ $json.cursor ? '\"' + $json.cursor + '\"' : 'null' }} }\n}",
        "options": {}
      },
      "id": "fetch-invoices-artwork",
      "name": "Fetch Invoices Artwork",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        200
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.printavo.com/api/v2",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "email",
              "value": "ronny@mintprints.com"
            },
            {
              "name": "token",
              "value": "={{ $env.PRINTAVO_API_KEY }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"query\": \"query GetQuotesArtwork($after: String) { quotes(first: 50, after: $after) { pageInfo { hasNextPage endCursor } edges { node { id visualId productionFiles { edges { node { id fileUrl name } } } } } } }\",\n  \"variables\": { \"after\": {{ $json.cursor ? '\"' + $json.cursor + '\"' : 'null' }} }\n}",
        "options": {}
      },
      "id": "fetch-quotes-artwork",
      "name": "Fetch Quotes Artwork",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        900,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process invoices and extract artwork\nconst response = $input.first().json;\nconst pageInfo = response.data?.invoices?.pageInfo || {};\nconst edges = response.data?.invoices?.edges || [];\n\nconst prevData = $('More Invoices?').first().json;\nconst allRecords = prevData.allRecords || [];\n\n// Extract records with artwork\nconst newRecords = edges\n  .map(edge => {\n    const node = edge.node;\n    const files = (node.productionFiles?.edges || []).map(e => ({\n      id: e.node.id,\n      url: e.node.fileUrl,\n      name: e.node.name\n    }));\n    return {\n      printavo_id: node.id,\n      visual_id: node.visualId,\n      artwork_files: files,\n      artwork_count: files.length,\n      source: 'invoice'\n    };\n  })\n  .filter(r => r.artwork_count > 0); // Only keep records with artwork\n\nallRecords.push(...newRecords);\n\nconsole.log(`Invoices page ${prevData.pageCount || 1}: found ${newRecords.length} with artwork`);\n\nreturn [{\n  json: {\n    cursor: pageInfo.endCursor || null,\n    hasMore: pageInfo.hasNextPage || false,\n    allRecords: allRecords,\n    source: 'invoices',\n    pageCount: (prevData.pageCount || 0) + 1\n  }\n}];"
      },
      "id": "process-invoices",
      "name": "Process Invoices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        200
      ]
    },
    {
      "parameters": {
        "jsCode": "// Process quotes and extract artwork\nconst response = $input.first().json;\nconst pageInfo = response.data?.quotes?.pageInfo || {};\nconst edges = response.data?.quotes?.edges || [];\n\nconst prevData = $('More Quotes?').first().json;\nconst allRecords = prevData.allRecords || [];\n\n// Extract records with artwork\nconst newRecords = edges\n  .map(edge => {\n    const node = edge.node;\n    const files = (node.productionFiles?.edges || []).map(e => ({\n      id: e.node.id,\n      url: e.node.fileUrl,\n      name: e.node.name\n    }));\n    return {\n      printavo_id: node.id,\n      visual_id: node.visualId,\n      artwork_files: files,\n      artwork_count: files.length,\n      source: 'quote'\n    };\n  })\n  .filter(r => r.artwork_count > 0); // Only keep records with artwork\n\nallRecords.push(...newRecords);\n\nconsole.log(`Quotes page ${prevData.pageCount || 1}: found ${newRecords.length} with artwork`);\n\nreturn [{\n  json: {\n    cursor: pageInfo.endCursor || null,\n    hasMore: pageInfo.hasNextPage || false,\n    allRecords: allRecords,\n    source: 'quotes',\n    pageCount: (prevData.pageCount || 0) + 1\n  }\n}];"
      },
      "id": "process-quotes",
      "name": "Process Quotes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        400
      ]
    },
    {
      "parameters": {
        "amount": 0.5,
        "unit": "seconds"
      },
      "id": "rate-limit-invoices",
      "name": "Rate Limit (Invoices)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1340,
        200
      ]
    },
    {
      "parameters": {
        "amount": 0.5,
        "unit": "seconds"
      },
      "id": "rate-limit-quotes",
      "name": "Rate Limit (Quotes)",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1340,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Output all invoice records with artwork for database upsert\nconst data = $input.first().json;\nconst records = data.allRecords || [];\n\nconsole.log(`Total invoices with artwork: ${records.length}`);\n\nreturn records.map(record => ({ json: record }));"
      },
      "id": "output-invoices",
      "name": "Output Invoices",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        600
      ]
    },
    {
      "parameters": {
        "jsCode": "// Output all quote records with artwork for database upsert\nconst data = $input.first().json;\nconst records = data.allRecords || [];\n\nconsole.log(`Total quotes with artwork: ${records.length}`);\n\nreturn records.map(record => ({ json: record }));"
      },
      "id": "output-quotes",
      "name": "Output Quotes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        800
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineAll",
        "options": {}
      },
      "id": "merge-results",
      "name": "Merge All Artwork",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1120,
        700
      ]
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "=-- Update artwork for order (matches on printavo_id)\nUPDATE orders SET\n  artwork_files = '{{ JSON.stringify($json.artwork_files || []).replace(/'/g, \"''\") }}'::jsonb,\n  artwork_count = {{ $json.artwork_count || 0 }},\n  updated_at = NOW()\nWHERE printavo_id = '{{ $json.printavo_id }}'\nRETURNING id, visual_id, artwork_count;",
        "options": {}
      },
      "id": "upsert-artwork",
      "name": "Update Artwork",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.5,
      "position": [
        1340,
        700
      ],
      "credentials": {
        "postgres": {
          "id": "H91B62moXyyKhSgJ",
          "name": "Mint OS Vault"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate-results",
      "name": "Aggregate Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1560,
        700
      ]
    },
    {
      "parameters": {
        "jsCode": "// Summary of artwork backfill\nconst items = $input.all();\nconst totalProcessed = items.length;\nconst totalFiles = items.reduce((sum, item) => {\n  const count = item.json?.artwork_count || item.json?.[0]?.artwork_count || 0;\n  return sum + count;\n}, 0);\n\nreturn [{\n  json: {\n    workflow: 'Printavo Artwork Backfill',\n    timestamp: new Date().toISOString(),\n    recordsUpdated: totalProcessed,\n    totalArtworkFiles: totalFiles,\n    status: 'completed'\n  }\n}];"
      },
      "id": "summary",
      "name": "Summary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1780,
        700
      ]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {
            "node": "Init Invoices",
            "type": "main",
            "index": 0
          },
          {
            "node": "Init Quotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Invoices": {
      "main": [
        [
          {
            "node": "More Invoices?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Init Quotes": {
      "main": [
        [
          {
            "node": "More Quotes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Invoices?": {
      "main": [
        [
          {
            "node": "Fetch Invoices Artwork",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "More Quotes?": {
      "main": [
        [
          {
            "node": "Fetch Quotes Artwork",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Output Quotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Invoices Artwork": {
      "main": [
        [
          {
            "node": "Process Invoices",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Quotes Artwork": {
      "main": [
        [
          {
            "node": "Process Quotes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Invoices": {
      "main": [
        [
          {
            "node": "Rate Limit (Invoices)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Quotes": {
      "main": [
        [
          {
            "node": "Rate Limit (Quotes)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit (Invoices)": {
      "main": [
        [
          {
            "node": "More Invoices?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rate Limit (Quotes)": {
      "main": [
        [
          {
            "node": "More Quotes?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Invoices": {
      "main": [
        [
          {
            "node": "Merge All Artwork",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Output Quotes": {
      "main": [
        [
          {
            "node": "Merge All Artwork",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge All Artwork": {
      "main": [
        [
          {
            "node": "Update Artwork",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Artwork": {
      "main": [
        [
          {
            "node": "Aggregate Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Results": {
      "main": [
        [
          {
            "node": "Summary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
