fixtures/n8n/snapshots/20260216-112351/Zs9xDPBklh5fQcdl__CB_metrics_sync.json
{
  "id": "Zs9xDPBklh5fQcdl",
  "name": "CB_metrics_sync",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours"
            }
          ]
        }
      },
      "name": "Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        256,
        304
      ],
      "id": "5601c5f8-f853-449d-baf0-fc5d95927250"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT count(*) as count FROM orders WHERE status NOT IN ('completed', 'cancelled');",
        "additionalFields": {}
      },
      "name": "Get Active Orders",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        464,
        304
      ],
      "id": "865ec486-34ac-4b76-b2e8-0a62e6be6080",
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Mint OS DB"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT count(*) as count FROM orders WHERE created_at > NOW() - INTERVAL '24 HOURS';",
        "additionalFields": {}
      },
      "name": "Get New Orders",
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 1,
      "position": [
        656,
        304
      ],
      "id": "6816f825-4cf6-4dd2-8898-af1ad1b7436a",
      "credentials": {
        "postgres": {
          "id": "POSTGRES_CREDENTIAL_ID",
          "name": "Mint OS DB"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/hypnotizedent/ronny-ops/contents/00_AI_START_HERE.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Get File SHA",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        864,
        304
      ],
      "id": "ade9882a-53c3-4b0f-9e5e-2dda6ce221b7"
    },
    {
      "parameters": {
        "jsCode": "const active = $('Get Active Orders').first().json.count;\nconst newOrders = $('Get New Orders').first().json.count;\nconst fileData = $('Get File SHA').first().json;\nconst content = Buffer.from(fileData.content, 'base64').toString('utf8');\n\n// Regex Replacement\nlet newContent = content.replace(/\\| \\*\\*Active Orders\\*\\* \\| \\*\\*.*\\*\\* \\|/, `| **Active Orders** | **${active}** |`);\nnewContent = newContent.replace(/\\| \\*\\*New Orders \\(24h\\)\\*\\* \\| \\*\\*.*\\*\\* \\|/, `| **New Orders (24h)** | **${newOrders}** |`);\n\nreturn {\n  json: {\n    sha: fileData.sha,\n    content: Buffer.from(newContent).toString('base64'),\n    message: `chore(metrics): update status active=${active} new=${newOrders}`\n  }\n};"
      },
      "name": "Update Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        1056,
        304
      ],
      "id": "ea24c772-aa7e-41cb-a3ec-4ac4a2c1a771"
    },
    {
      "parameters": {
        "url": "https://api.github.com/repos/hypnotizedent/ronny-ops/contents/00_AI_START_HERE.md",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "name": "Commit Update",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        1264,
        304
      ],
      "id": "f3d06017-d116-40f7-991d-c5a0766e9c04"
    }
  ],
  "connections": {
    "Schedule": {
      "main": [
        [
          {
            "node": "Get Active Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Active Orders": {
      "main": [
        [
          {
            "node": "Get New Orders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get New Orders": {
      "main": [
        [
          {
            "node": "Get File SHA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get File SHA": {
      "main": [
        [
          {
            "node": "Update Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Content": {
      "main": [
        [
          {
            "node": "Commit Update",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  }
}
