fixtures/n8n/Spine_-_Mailroom_Enqueue.json
{
  "name": "Spine - Mailroom Enqueue",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "spine-mailroom-enqueue",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-spine-mailroom-enqueue",
      "name": "Webhook In",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        240,
        300
      ],
      "webhookId": "spine-mailroom-enqueue"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "prompt",
              "name": "prompt",
              "type": "string",
              "value": "={{ $json.body.prompt || $json.body.text || $json.body.message || '' }}"
            },
            {
              "id": "slug",
              "name": "slug",
              "type": "string",
              "value": "={{ $json.body.slug || 'task' }}"
            },
            {
              "id": "run_id",
              "name": "run_id",
              "type": "string",
              "value": "={{ $json.body.run_id || 'RN8N' }}"
            },
            {
              "id": "session_id",
              "name": "session_id",
              "type": "string",
              "value": "={{ $json.body.session_id || '' }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-mailroom-payload",
      "name": "Build Payload",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.SPINE_MAILROOM_BRIDGE_URL || 'http://macbook.taile9480.ts.net' }}/inbox/enqueue",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-Spine-Token",
              "value": "={{ $env.MAILROOM_BRIDGE_TOKEN || '' }}"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"slug\": \"{{ $json.slug }}\",\n  \"run_id\": \"{{ $json.run_id }}\",\n  \"session_id\": \"{{ $json.session_id }}\"\n}"
      },
      "id": "enqueue-to-spine",
      "name": "Enqueue To Spine",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        720,
        300
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: $json.status === 'enqueued', status: $json.status, path: $json.path, bridge: $env.SPINE_MAILROOM_BRIDGE_URL || 'http://macbook.taile9480.ts.net' }) }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond OK",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        960,
        300
      ]
    }
  ],
  "connections": {
    "Webhook In": {
      "main": [
        [
          {
            "node": "Build Payload",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Payload": {
      "main": [
        [
          {
            "node": "Enqueue To Spine",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enqueue To Spine": {
      "main": [
        [
          {
            "node": "Respond OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "tags": []
}

